* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #AAA;
}

.clearfix::after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/* ________ HEADER SECTION ________ */

.header {
    border-bottom: 1px solid #E0E0E0;
}

/* --- Contact Section --- */

.contact__section {
    padding: 3px 33.5px 4px;
    background-color: #F4F4F4;
}

.contact__container {
    max-width: 1376px;
    margin: 0 auto;
    text-align: right;
}

.contact__text {
    font-size: 12px;
    line-height: 2.75;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin-right: 20px;
    opacity: 0.9;
}

.contact__text a {
    text-decoration: none;
    color: inherit;
}

.contact__text-sales {
    padding-right: 6px;
}

.contact__text-tel {
    margin-right: 22px;
}

.contact__text-us {
    margin-right: 0;
}

.contact__select {
    display: none;
}

/* --- Room Section --- */

.room__section {
    padding: 25px 0 24px;
    max-width: 1376px;
    margin: 0 auto;
}

.room__logo-container {
    max-width: 399px;
    padding-left: 88px;
    padding-right: 261px;
    line-height: 0;
    float: left;
}

.room__selections-container {
    padding-top: 17px;
    float: left;
}

.room__selections-container,
.room__showrooms {
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 2px;
}

li[class*="words-products"] {
    margin-right: 97px;
    padding: 0 4px;
}

li[class*="words-explore"] {
    margin-right: 118px;
}

.room__showrooms {
    max-width: 563px;
    padding-left: 361px;
}

.room__showrooms-maptag {
    padding-top: 13px;
    float: left;
}

.room__showrooms-words {
    padding: 17px 4px 0;
    margin-left: 11px;
    float: left;
}

.room__showrooms-basket {
    padding-top: 12px;
    padding-left: 43px;
}

.room__selections-container,
.room__selections,
li[class*="selections-words"],
.room__showrooms,
.room__showrooms-words {
    display: inline-block;
}