* {
    box-sizing: border-box;
}

html, body {
    overflow-y: scroll;
    scrollbar-width: none;
}
  
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #AAA;
}


.clearfix::after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding: 0 50px;
}

/* ________ HEADER SECTION ________ */

.header {
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 48px;
}

/* --- Contact Section --- */

.contact__section {
    padding: 4px 33.5px 3px;
    background-color: #F4F4F4;
}

.contact__container {
    max-width: 1376px;
    margin: 0 auto;
    text-align: right;
}

.contact__text {
    font-size: 12px;
    line-height: 2.75;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    opacity: 0.9;
}

.contact__text:not(:last-of-type) {
    margin-right: 20px;
}

.contact__text:first-child {
    padding-right: 6px;
}

.contact__text:nth-child(2) {
    padding-right: 2px;
}

.contact__select {
    display: none;
}

/* --- Room Section --- */

.room__section-bigcontainer {
    padding: 25px 32px 24px;
}

.room__section {
    max-width: 1376px;
    margin: 0 auto;
}

.room__logo-container {
    max-width: 399px;
    padding-left: 88px;
    padding-right: 261px;
    line-height: 0;
    float: left;
}

.room__selections-container {
    padding-top: 18px;
    float: left;
}

.room__selections-container,
.room__showrooms {
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 2px;
}

li[class*="words-products"] {
    margin-right: 97px;
    padding: 0 4px;
}

li[class*="words-explore"] {
    margin-right: 118px;
}

.room__showrooms {
    max-width: 565px;
    padding-left: 360px;
}

.room__showrooms-maptag {
    padding-top: 13px;
    float: left;
}

.room__showrooms-words {
    padding: 18px 4px 0;
    margin-left: 12px;
    float: left;
}

.room__showrooms-basket {
    padding-top: 12px;
    padding-left: 44px;
}

.room__selections-container,
.room__selections,
li[class*="selections-words"],
.room__showrooms,
.room__showrooms-words,
.room__showrooms-basket,
.room__showrooms-maptag {
    display: inline-block;
}

/* ________ MAIN SECTION ________ */

/* --- Prime Picture Section --- */

.primepicture__margin {
    margin-bottom: 80px;
}

.primepicture {
    padding: 0 6px;
}

.primepicture__image {
    max-width: 1327px;
    margin: 0 auto;
    line-height: 0;
}

/* --- Design inspires Section --- */

.designinsp__margin {
    margin-bottom: 210px;
}

.designinsp__container {
    padding: 0 70px;
}

.designinsp__info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 85px 0 55px;
}

.designinsp__title {
    max-width: 355px;
    font-size: 48px;
    line-height: 1.21;
    color: #1A1A1A;
    margin-right: 132px;
}

.designinsp__descr {
    max-width: 569px;
    font-size: 24px;
    line-height: 1.67;
}

.designinsp__title,
.designinsp__descr {
    display: inline-block;
}

/* --- 4 rooms Section --- */

.fourrooms__margin {
    margin-bottom: 212px;
}

.fourrooms__container {
    padding: 0 70px;
}

.fourrooms__pictures-ltr {
    max-width: 1200px;
    margin: 0 auto;
}

.fourrooms__pictures-level {
    padding-bottom: 32px;
}

.fourrooms__picture-n-info {
    display: inline-block;
}

.fourrooms__picture-n-info:first-child {
    margin-right: 20px;
}

.fourrooms__img {
    max-width: 588px;
    margin-bottom: 6px;
}

.fourrooms__info {
    font-size: 24px;
    line-height: 28px;
    color: #1A1A1A;
}

/* --- Choose room Section --- */

.chooseroom__margin {

}

.chooseroom__container {
    padding: 0 200px;
}

.chooseroom__ltrs {
    max-width: 941px;
    margin: 0 auto;
}

.chooseroom__title {
    
}