$main-text: #575859;
$primary-black: #050C26;
$light-blue: #3988FF;
$white: #fff;
$video-arrow: #1B45DA;
$light-pink: #fff5f5;

$progress-bar-web: #E41A1A;
$progress-bar-uiux: #DA5A12;
$progress-bar-graphic: #5BBB10;
$progress-bar-photo: #15C1CC;

$features-quality: rgba(#FF6060, 0.1);
$features-friendly: rgba(#F353AA, 0.1);
$features-notif: rgba(#C548FF, 0.1);
$features-support: rgba(#4F9EFC, 0.1);

$fill-light-blue: invert(64%) sepia(63%) saturate(6673%) hue-rotate(203deg) brightness(103%) contrast(104%);