$main-text: #575859;
$primary-black: #050C26;
$light-blue: #3988FF;
$white: #fff;
$video-arrow: #1B45DA;
$light-pink: #fff5f5;

$progress-bar-web: #E41A1A;
$progress-bar-uiux: #DA5A12;
$progress-bar-graphic: #5BBB10;
$progress-bar-photo: #15C1CC;
