%wave {
    .wave-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        background-color: $light-pink;
    }
    
    .wave-bottom svg {
        position: relative;
        display: block;
        width: calc(162% + 1.3px);
        height: 77px;
    }
    
    .wave-bottom .shape-fill {
        fill: $white;
    }
}

%linksHover {
    &:hover,
    &:focus {
        color: $light-blue;
        text-shadow: 0 0 0.5px $light-blue, 0 0 0.5px $light-blue;
    }
}

%sectionTitle {
    color: $primary-black;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 1.4;
    text-align: center;
}