// TODO hide scrollbar
body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    font-weight: normal;
    color: $main-text;
}

.container {
    margin: 0 auto;
    // padding: 0 10px;
    padding: 0 230px;
    max-width: 1140px;
    // max-width: 1600px;
}

a {
    text-decoration: none;
}