@mixin links($link, $padding, $visited, $hover, $active) {
    & {
        color: $link;
        padding: $padding;
        border-radius: 5px;
        text-transform: capitalize;
        cursor: pointer;

        &:visited {
            color: $visited;
        }
        &:hover {
            color: $hover;
        }
        &:active,
        &:focus {
            color: $active;
        }
    }
}