body {
    font-family: 'Lato', sans-serif;
    color: #000;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
    padding: 0 10px;
}

/* -------------------------- */
/* ---- TECHNOLOGY SECTION -- */
/* -------------------------- */

.technology {
    padding-top: 63px;
    padding-bottom: 104px;
}

.technology__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 64px;
}

.technology__cards-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: card-counter;
}

.technology__card-wrapper {
    max-width: 255px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    position: relative;
}

.technology__card-wrapper:hover .technology__card-figcap::before,
.technology__card-wrapper:focus .technology__card-figcap::before {
    z-index: 1;
}

.technology__card-icon-wrap {
    width: 80px;
    height: 80px;
    margin-right: 1px;
    padding-top: 59px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.technology__card-icon--secure {
    padding-bottom: 2px;
}

.technology__card-icon--pdf {
    padding-bottom: 6px;
    margin-left: 2px;
}

.technology__card-icon--csv {
    padding-bottom: 2px;
}

.technology__card-figcap {
    counter-increment: card-counter;
    position: relative;
}

.technology__card-figcap::before {
    content: "0" counter(card-counter);
    font-weight: bold;
    font-size: 100px;
    line-height: 1.2;
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
    position: absolute;
    transform: translate(-50%, 0);
    z-index: -1;
}

.technology__card-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.23;
    color: #101010;
    text-align: center;
    margin-bottom: 11px;
}

.technology__card-title:hover,
.technology__card-title:focus {
    color: #ed4c5c;
    text-decoration: underline;
}

.technology__card-title--pdf {
    margin-right: 1px;
}

.technology__card-text {
    font-size: 12px;
    line-height: 1.17;
    max-width: 191px;
    width: 100%;
    text-align: center;
    margin-bottom: 26px;
    margin-left: 4px;
}