* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.piano {
    width: 1440px;
    height: 480px;
    background: url(../images/piano.jpg) 100% 100% no-repeat #331306;
    background-size: cover;
    display: inline-block;
    text-align: center;
}

.piano__letters {
    width: 1360px;
    height: 230px;
    margin: 124.91px auto 125.09px;
}

.piano__possibilities {
    width: 330px;
    height: 112;
    color: #fff;
    font: normal 400 56px/56px roboto, sans-serif;
    display: inline-block;
}

.piano__possibilities-member {
    width: 386px;
    height: 53px;
    font: normal 400 22px/26.4px roboto, sans-serif;
    color: #fff;
    margin: 22px auto 20px;
}

.piano__possibilities-watchlink {
    font: normal 400 18px roboto, sans-serif;
    color: #fff;
    text-transform: uppercase;
}