* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.piano {
    width: 1440px;
    height: 480px;
    background: url(../images/piano.jpg) 100% 100% no-repeat #331306;
    background-size: cover;
    text-align: center;
    padding: 125px 40px;
}

.piano,
a {
    color: #fff;
}

.piano__block {
    width: 1360px;
    height: 230px;
}

.piano__possibilities {
    width: 330px;
    height: 112;
    font-size: 56px;
    line-height:56px;
    margin-bottom: 22px;
    display: inline-block;
}

.piano__possibilities-member {
    width: 386px;
    height: 53px;
    font-size: 22px;
    line-height: 26.4px;
    margin: 0 auto 20px;
}

.piano__possibilities-watchlink {
    font-size: 18px;
    text-transform: uppercase;
}