html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button,
.button__signup {
  transition: all 0.2s ease;
}

.tech-card__figcap::before, .tech-card__text .technology__card-figcap::before {
  content: "0" counter(card-counter);
  font-size: 100px;
  line-height: 1.2;
  font-weight: bold;
  color: rgba(22, 22, 22, 0.08);
  position: absolute;
  transform: translate(-50%, 0);
  z-index: -1;
}

.form__input, .form__input--tel, .form__select, .form__input::placeholder, .form__input--tel::placeholder {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: capitalize;
}

.form__input, .form__input--tel, .form__select {
  border-radius: 6px;
  border: 1px solid #333333;
}

.footer__card-social--facebook:hover {
  filter: invert(44%) sepia(13%) saturate(2199%) hue-rotate(182deg) brightness(86%) contrast(97%);
}

.footer__card-social--linkedin:hover {
  filter: invert(26%) sepia(80%) saturate(1436%) hue-rotate(175deg) brightness(103%) contrast(104%);
}

.footer__card-social--twitter:hover {
  filter: invert(61%) sepia(69%) saturate(4249%) hue-rotate(179deg) brightness(99%) contrast(98%);
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Lato";
  font-weight: normal;
  color: #000;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1110px;
}

a {
  text-decoration: none;
  color: inherit;
}

.button, .form__button {
  font-size: 14px;
  line-height: 1.22;
  color: #fff;
}

.feature-card__title, .tech-card__title, .footer__card-title {
  font-size: 18px;
  line-height: 1.23;
  color: #101010;
  font-weight: 700;
  text-align: center;
}

.software-desc__text, .software-desc__link, .save-money__desc, .contact-desc__text {
  font-size: 14px;
  line-height: 1.43;
}

.software-desc__title, .features__title, .technology__title, .save-money__title, .contact-desc__title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 600;
}

.feature-card__text, .feature-card__link {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.footer__card-contact, .footer .copyright {
  font-size: 12px;
  line-height: 1.17;
  color: #101010;
}

.button {
  font-family: "Lato";
  text-transform: uppercase;
  padding: 10px 27px 11px 28px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
}

.button:hover, .button:focus {
  filter: drop-shadow(0px 0px 0.4px #fff);
}

.button__signup {
  font-weight: 600;
  color: #ed4c5c;
  background-color: #fff;
  padding: 17px 53px 16px 52px;
  border: none;
}

.button__signup:hover, .button__signup:focus {
  background-color: #f1f1f1;
}

.management .container, .features-cards, .technology-cards, .tech-card__icon, .contact .container, .footer__wrap, .footer__card-social {
  display: flex;
  flex-wrap: wrap;
}

.focused .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.save-money__link {
  display: flex;
  align-items: center;
}

.feature-card, .feature-card__wraper, .tech-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.header {
  background-image: url(../images/topBanner.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}

.header .container {
  padding-top: 50px;
  padding-bottom: 187px;
}

.header__navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 167px;
  position: relative;
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.45px;
  transition: filter 0.2s ease;
}

.logo:hover, .logo:focus {
  filter: drop-shadow(0px 0px 0.4px #fff);
}

.logo__img {
  margin-right: 8.5px;
}

.logo__text {
  font-size: 18px;
  line-height: 1.23;
  color: #101010;
  font-weight: 700;
  text-align: center;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin-left: 39px;
  padding-bottom: 3px;
}

.navigation__item {
  font-size: 14px;
  line-height: 1.22;
  color: #fff;
  text-transform: uppercase;
  padding: 0 10px;
}

.navigation__link {
  color: inherit;
  transition: text-shadow 0.2s ease;
}

.navigation__link:hover, .navigation__link:focus {
  text-shadow: 0 0 0.4px #fff, 0 0 0.4px #fff;
}

.language-and-login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 3px;
}

.lang-selector {
  display: flex;
  margin-right: 28px;
  padding-top: 3px;
}

.lang-selector__label {
  margin-right: 11px;
  padding-bottom: 2px;
  position: relative;
}

.lang-selector__drop {
  font-size: 14px;
  line-height: 1.22;
  color: #fff;
  font-family: inherit;
  text-transform: uppercase;
  width: 46px;
  background-color: transparent;
  border: none;
  padding-bottom: 4px;
  appearance: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
}

.lang-selector__item {
  background-color: transparent;
}

.lang-selector__arrow {
  margin-left: -15px;
  padding-bottom: 2px;
  transition: filter 0.2s ease;
}

.lang-selector__drop:hover, .lang-selector__drop:focus, .lang-selector__arrow:hover, .lang-selector__arrow:focus {
  filter: drop-shadow(0px 0px 0.4px #fff);
}

.toggle {
  opacity: 0;
  visibility: hidden;
}

.toggle__checkbox {
  display: none;
}

.toggle__button {
  background-color: #fff;
  height: 60px;
  width: 60px;
  position: fixed;
  top: 20px;
  right: 18px;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.toggle__background {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  position: fixed;
  top: 21px;
  right: 20px;
  background-image: radial-gradient(#f16573, #ed4c5c);
  z-index: 1;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.toggle__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.toggle__icon {
  position: relative;
  margin-top: 29px;
}

.toggle__icon, .toggle__icon::before, .toggle__icon::after {
  width: 30px;
  height: 2px;
  background-color: rgba(213, 32, 71, 0.8);
  display: inline-block;
}

.toggle__icon::before, .toggle__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.toggle__icon::before {
  top: -8px;
}

.toggle__icon::after {
  top: 8px;
}

.toggle__checkbox:checked ~ .toggle__background {
  transform: scale(80);
}

.toggle__checkbox:checked ~ .toggle__nav {
  opacity: 1;
  width: 100%;
}

.toggle__button:hover .toggle__icon::before {
  top: -10px;
}

.toggle__button:hover .toggle__icon::after {
  top: 10px;
}

.toggle__checkbox:checked + .toggle__button .toggle__icon {
  background-color: transparent;
}

.toggle__checkbox:checked + .toggle__button .toggle__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.toggle__checkbox:checked + .toggle__button .toggle__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.toggle .navigation {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 47%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.toggle .navigation__item {
  font-size: 35px;
  line-height: 1.22;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.toggle .navigation__link {
  color: inherit;
  transition: text-shadow 0.2s ease;
}

.toggle .navigation__link:hover, .toggle .navigation__link:focus {
  text-shadow: 0 0 0.4px #fff, 0 0 0.4px #fff;
}

.toggle .language-and-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 31%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.toggle .lang-selector {
  display: flex;
  margin-right: 20px;
  padding-top: 3px;
}

.toggle .lang-selector__label {
  margin-right: 25px;
  padding-bottom: 2px;
  position: relative;
}

.toggle .lang-selector__img {
  width: 150%;
}

.toggle .lang-selector__drop, .toggle .lang-selector__arrow {
  transition: filter 0.2s ease;
}

.toggle .lang-selector__drop {
  font-size: 30px;
  line-height: 1.22;
  color: #fff;
  font-family: inherit;
  text-transform: uppercase;
  width: 46px;
  background-color: transparent;
  border: none;
  padding-bottom: 4px;
  appearance: none;
  cursor: pointer;
  outline: none;
}

.toggle .lang-selector__item {
  background-color: transparent;
}

.toggle .lang-selector__arrow {
  margin-left: 7px;
  width: 19%;
  padding-bottom: 2px;
}

.toggle .lang-selector__drop:hover, .toggle .lang-selector__drop:focus, .toggle .lang-selector__arrow:hover, .toggle .lang-selector__arrow:focus {
  filter: drop-shadow(0px 0px 0.4px #fff);
}

.toggle .button {
  font-size: 22px;
}

.slogan {
  margin: 0 auto;
  text-align: center;
  max-width: 578px;
  position: relative;
  z-index: 2;
}

.slogan__title, .slogan__text {
  color: #fff;
}

.slogan__title {
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.slogan__text {
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  max-width: 490px;
  margin-bottom: 55px;
}

@media screen and (max-width: 575px) {
  .header .container {
    padding: 25px 10px 216px;
  }
  .header__navbar {
    margin-bottom: 142px;
  }
  .logo {
    margin-left: 10px;
    margin-top: 16px;
  }
  .navigation {
    display: none;
  }
  .language-and-login {
    display: none;
  }
  .toggle {
    opacity: 1;
    visibility: visible;
  }
  .slogan {
    z-index: 1;
  }
  .slogan__title {
    font-size: clamp(32px, 10vw, 64px);
    margin-bottom: 28px;
  }
  .slogan__text {
    font-size: clamp(16px, 3vw, 22px);
    max-width: clamp(320px, 80vw, 340px);
    margin-bottom: 53px;
  }
}

@media screen and (min-width: 576px) {
  .logo {
    margin-left: 10px;
    margin-top: -9px;
  }
  .navigation {
    display: none;
  }
  .language-and-login {
    display: none;
  }
  .toggle {
    opacity: 1;
    visibility: visible;
  }
  .toggle .language-and-login {
    top: 31%;
    left: 64%;
  }
  .slogan {
    z-index: 1;
  }
  .slogan__title {
    font-size: clamp(64px, 10vw, 72px);
  }
  .slogan__text {
    font-size: 22px;
    max-width: 413px;
    font-size: clamp(22px, 4vw, 24px);
    max-width: clamp(340px, 80vw, 490px);
  }
}

@media screen and (min-width: 768px) {
  .toggle .navigation {
    align-items: center;
    top: 50%;
    left: 50%;
    margin-left: 0;
  }
  .toggle .language-and-login {
    top: 35%;
    left: 82%;
  }
}

@media screen and (min-width: 882px) {
  .header .logo {
    margin-left: 0;
    margin-top: 0;
  }
  .header .navigation {
    display: flex;
    margin-left: 0;
  }
  .header .language-and-login {
    display: flex;
  }
  .header .toggle {
    display: none;
  }
  .header .slogan__title {
    font-size: 72px;
  }
  .header .slogan__text {
    font-size: 24px;
    max-width: 490px;
  }
}

@media screen and (min-width: 992px) {
  .header .navigation {
    margin-left: 39px;
  }
}

.management {
  line-height: 0;
  font-size: 0;
  padding-top: 94px;
  padding-bottom: 95px;
}

@media screen and (max-width: 944px) {
  .management {
    padding-top: 25px;
    padding-bottom: 70px;
  }
}

.management .container {
  justify-content: flex-start;
}

@media screen and (max-width: 1035px) {
  .management .container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 992px) {
  .management .container {
    justify-content: space-around;
  }
}

.software-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 445px;
  padding-top: 46px;
  margin-right: 125px;
}

@media screen and (max-width: 1035px) {
  .software-desc {
    margin-right: 35px;
  }
}

@media screen and (max-width: 992px) {
  .software-desc {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .software-desc {
    align-items: center;
    margin-right: 0;
  }
}

.software-desc__title {
  margin-bottom: 45px;
}

@media screen and (max-width: 768px) {
  .software-desc__title {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .software-desc__title {
    font-size: clamp(28px, 7vw, 36px);
  }
}

.software-desc__text {
  text-align: justify;
  margin-bottom: 19px;
}

@media screen and (max-width: 576px) {
  .software-desc__text {
    font-size: clamp(12px, 3vw, 14px);
  }
}

.software-desc__link {
  transition: all 0.2s ease;
  color: #ed4c5c;
  text-transform: capitalize;
}

.software-desc__link:focus, .software-desc__link:hover {
  color: #f16573;
  text-decoration: underline;
}

.video {
  position: relative;
}

.video__button, .video__button::before {
  transition: all 0.2s ease;
}

.video__button {
  width: 66px;
  height: 66px;
  background-color: #ed4c5c;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 944px) {
  .video__button {
    left: 50%;
  }
}

.video__button:hover, .video__button:focus {
  background-color: #f1f1f1;
}

.video__button:hover::before, .video__button:focus::before {
  border-color: transparent transparent transparent #ed4c5c;
}

.video__button::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 11.9px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-38%, -50%);
}

.video__image {
  width: auto;
  border-radius: 15px;
  position: relative;
}

@media screen and (max-width: 576px) {
  .video__image {
    width: 100%;
  }
}

.features {
  background-color: #fafafa;
}

.features .container {
  padding-top: 63px;
  padding-bottom: 124px;
}

@media screen and (max-width: 1129px) {
  .features .container {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 365px) {
  .features .container {
    padding-top: 49px;
    padding-bottom: 30px;
  }
}

.features__title {
  text-align: center;
  margin-bottom: 75px;
  text-transform: capitalize;
}

@media screen and (max-width: 365px) {
  .features__title {
    margin-bottom: 50px;
  }
}

.features-cards {
  justify-content: space-between;
}

@media screen and (max-width: 1190px) {
  .features-cards {
    justify-content: space-evenly;
  }
}

.feature-card {
  max-width: 350px;
}

@media screen and (max-width: 1190px) {
  .feature-card {
    margin: 0 15px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  .feature-card {
    margin-left: 0;
    margin-right: 0;
  }
}

.feature-card__background {
  width: 350px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  background-color: #c4c4c4;
}

@media screen and (max-width: 365px) {
  .feature-card__background {
    width: 100%;
  }
}

.feature-card__wraper {
  align-content: center;
  max-width: 293px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-top: 33px;
  padding-bottom: 24px;
  margin-top: -93px;
}

@media screen and (max-width: 365px) {
  .feature-card__wraper {
    width: 100%;
  }
}

.feature-card__title, .feature-card__text {
  max-width: 229px;
}

.feature-card__title {
  margin-bottom: 17px;
}

.feature-card__text {
  color: #101010;
  margin-bottom: 26px;
}

.feature-card__link {
  font-weight: bold;
  color: #ed4c5c;
  transition: all 0.2s ease;
  text-transform: capitalize;
}

.feature-card__link:hover,
.feature-card__link :focus {
  color: #f16573;
  text-decoration: underline;
}

.technology {
  padding-top: 63px;
  padding-bottom: 104px;
}

@media screen and (max-width: 1040px) {
  .technology {
    padding-bottom: 75px;
  }
}

.technology__title {
  text-align: center;
  margin-bottom: 64px;
  text-transform: capitalize;
}

@media screen and (max-width: 1040px) {
  .technology__title {
    margin-bottom: 30px;
  }
}

.technology-cards {
  justify-content: space-between;
  counter-reset: card-counter;
}

@media screen and (max-width: 1040px) {
  .technology-cards {
    justify-content: space-evenly;
  }
}

.tech-card {
  align-content: center;
  max-width: 255px;
  width: 100%;
}

.tech-card:hover .technology__card-figcap::before,
.tech-card:focus .technology__card-figcap::before {
  z-index: 1;
}

.tech-card__figcap {
  counter-increment: card-counter;
  position: relative;
}

.tech-card__figcap::before {
  text-align: center;
}

.tech-card__icon {
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-right: 1px;
  padding-top: 59px;
}

.tech-card__icon--secure, .tech-card__icon--csv {
  padding-bottom: 2px;
}

.tech-card__icon--pdf {
  padding-bottom: 6px;
  margin-left: 2px;
}

.tech-card__title {
  margin-bottom: 11px;
}

.tech-card__title--pdf {
  margin-right: 1px;
}

.tech-card__title:hover, .tech-card__title:focus {
  color: #ed4c5c;
  text-decoration: underline;
}

.tech-card__text {
  text-align: center;
  font-size: 12px;
  line-height: 1.17;
  max-width: 191px;
  width: 100%;
  margin-bottom: 26px;
  margin-left: 4px;
}

.focused {
  background-color: #ed4c5c;
  padding-top: 94px;
  padding-bottom: 95px;
}

@media screen and (max-width: 1007px) {
  .focused {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

.focused .container {
  justify-content: flex-start;
}

@media screen and (max-width: 1078px) {
  .focused .container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1007px) {
  .focused .container {
    justify-content: space-evenly;
  }
}

.save-money {
  max-width: 445px;
  margin-right: 81px;
  margin-top: 12px;
}

@media screen and (max-width: 1078px) {
  .save-money {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1007px) {
  .save-money {
    margin-bottom: 30px;
    margin-right: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.save-money__title, .save-money__desc {
  color: #fff;
}

.save-money__title {
  margin-bottom: 45px;
}

@media screen and (max-width: 576px) {
  .save-money__title {
    font-size: clamp(32px, 10vw, 36px);
  }
}

.save-money__desc {
  text-align: justify;
  margin-bottom: 44px;
}

@media screen and (max-width: 576px) {
  .save-money__desc {
    font-size: clamp(12px, 3vw, 14px);
  }
}

.save-money__icons {
  display: flex;
  justify-content: space-between;
  max-width: 134px;
  width: 100%;
  margin-left: -2px;
}

.save-money__link {
  font-size: 0;
  line-height: 0;
}

.save-money__link:hover .focused__text-icon,
.save-money__link:focus .focused__text-icon {
  filter: brightness(95%);
}

@media screen and (max-width: 576px) {
  .cafe-slider {
    width: 100%;
  }
}

.contact {
  padding-top: 117px;
  padding-bottom: 123px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-desc {
  max-width: 434px;
  margin-left: 11px;
  margin-right: 125px;
}

.contact-desc__title {
  margin-bottom: 53px;
  text-transform: capitalize;
}

.contact-desc__text {
  text-align: justify;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.19;
  color: rgba(25, 57, 103, 0.5);
  font-family: "Lato";
  font-weight: normal;
}

.form__inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.form__input, .form__input--tel, .form__select {
  padding: 20px 0 19px 30px;
}

.form__input {
  width: 100%;
}

.form__input:first-child {
  margin-right: 30px;
}

.form__input--tel {
  margin-bottom: 24px;
}

.form__select-wrap {
  position: relative;
}

.form__select {
  width: 100%;
  margin-bottom: 27px;
  appearance: none;
  cursor: pointer;
}

.form__select-arrow {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 26.5%;
  right: 4.8%;
}

.form__button {
  text-transform: uppercase;
  font-family: "Lato";
  background: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 15.5px 32.5px 14.5px 32.5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.form__button:hover {
  background-color: #f1f1f1;
  color: #ed4c5c;
}

.footer {
  background-color: #fafafa;
}

.footer .footer-container {
  padding-top: 85px;
  padding-bottom: 85px;
}

.footer__wrap {
  margin-bottom: 106px;
}

.footer__card-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 254px;
  width: 100%;
}

.footer__card-wrap:not(:last-child) {
  margin-right: 30px;
}

.footer__card-wrap:first-child {
  margin-left: 1px;
}

.footer__card-wrap:nth-child(3) {
  margin-right: 34px;
}

.footer__card-wrap:last-child {
  max-width: 220px;
}

.footer__card-wrap .footer__card-contact:last-of-type {
  margin-bottom: 19px;
}

.footer__card-title {
  text-align: left;
  margin-bottom: 34px;
}

.footer__card-title--3rd {
  margin-left: 0.5px;
}

.footer__card-title--services {
  margin-bottom: 28px;
}

.footer__card-text {
  font-size: 12px;
  line-height: 1.5;
  color: #101010;
}

.footer__card-social {
  justify-content: space-between;
  max-width: 66px;
}

.footer__card-contact {
  margin-bottom: 11px;
}

.footer__card-contact:hover, .footer__card-contact:focus {
  text-decoration: underline;
}

.footer__card-list-item {
  font-size: 12px;
  line-height: 1.59;
  color: #000;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
}

.footer__card-list-link {
  color: inherit;
  text-transform: capitalize;
}

.footer__card-list-link:hover, .footer__card-list-link:focus {
  text-decoration: underline;
}

.footer .copyright {
  margin-left: -4px;
}

.footer .copyright-link {
  color: inherit;
  text-transform: capitalize;
}

.footer .copyright-link:hover, .footer .copyright-link:focus {
  text-decoration: underline;
}

.footer .visa-mastercard-img {
  width: 216px;
  margin-left: 6px;
  margin-top: -1px;
}
