.creativity {
    padding-top: 96.41px;
    padding-bottom: 189px;
    max-width: 1600px;
    margin: 0 auto;

    &__title {
        @extend %sectionTitle;
        font-weight: 600;
        line-height: 1.31;
    }

    &__desc {
        @include sectionDesk(806px);
    }

    .progressbar-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .progressbar-img {
        border-radius: 10px;
        margin-right: 97px;
    }

    .progressbar-inner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 8px;
        margin-bottom: 8px;
        max-width: 488px;
        width: 100%;
    }

    .progressbar-row-title {
        @extend %subTitle;
        margin-bottom: 20px;
    }

    // * progressbar-row 1

    .container1 {
        @include progressBarContainer(rgba($progress-bar-web, .1));
    }

    .filler1 {
        @include progressBarFiller($progress-bar-web, 80%);
    }

    .number1 {
        @include progressbar-row-number($progress-bar-web);
    }

    // * progressbar-row 2

    .container2 {
        @include progressBarContainer(rgba($progress-bar-uiux, .1));
    }

    .filler2 {
        @include progressBarFiller($progress-bar-uiux, 90%);
    }

    .number2 {
        @include progressbar-row-number($progress-bar-uiux);
    }

    // * progressbar-row 3

    .container3 {
        @include progressBarContainer(rgba($progress-bar-graphic, .1));
    }

    .filler3 {
        @include progressBarFiller($progress-bar-graphic, 75%);
    }

    .number3 {
        @include progressbar-row-number($progress-bar-graphic);
    }

    // * progressbar-row 4

    .container4 {
        @include progressBarContainer(rgba($progress-bar-photo, .1));
    }

    .filler4 {
        @include progressBarFiller($progress-bar-photo, 80%);
    }

    .number4 {
        @include progressbar-row-number($progress-bar-photo);
    }
}