.pricing {
    .inner-container {
        padding-bottom: 140px;
    }

    &__offers,
    &__plan {
        font-weight: 500;
        text-transform: uppercase;
    }

    &__offers,
    &__plan,
    &__title,
    &__bottom-price,
    &__bottom-term,
    &__bottom-option {
        text-align: center;
    }

    &__offers {
        font-size: 20px;
        line-height: 1.6;
        letter-spacing: 0.05em;
        margin-bottom: 15px;
    }

    &__plan {
        font-family: Lato;
        font-size: 35px;
        line-height: 1.4;
        color: $primary-black;
        margin-bottom: 30px;
    }
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 353px;
    border: 1px solid $dark-blue;
    border-radius: 5px;
    padding: 9px;
    margin-bottom: 60px;

    &__btn {
        color: $main-text;
        padding: 10px 0;
    }

    &__btn-input {
        display: none;
    }

    &__btn-label {
        cursor: pointer;
        text-transform: capitalize;
        padding: 20px;
    }

    &__btn-input:checked ~ &__btn-label {
        color: $white;
        background-color: $light-blue;
        padding: 12px 21px;
    }

    &__btn,
    &__btn-input:checked ~ &__btn-label {
        border-radius: 5px;
    }
}

.pricing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pricing-card {
    max-width: 360px;
    width: 100%;
    background-color: $white;
    box-shadow: 0px 4px 30px $pricing-card-shadow;
    border-radius: 10px;
    overflow: hidden;

    &:hover {
        background: $pricing-bottom-bg;

        .pricing-card__top {
            background: $pricing-top-bg;

            .pricing-card__title {
                color: $white;
            }
        }

        .pricing-card__bottom {
            background: $pricing-bottom-bg;
            border-top: 1px solid $pricing-bottom-dark-red;

            .pricing-card__bottom-price,
            .pricing-card__bottom-term,
            .pricing-card__bottom-options {
                color: $white;
            }
        }

        .pricing-card__btn {
            background-color: $light-blue;
            color: $white;
        }
    }

    &__top {
        display: flex;
        padding: 46px 0 45px 0;
    }

    &__title,
    &__bottom-price,
    &__btn {
        font-family: Lato;
        font-weight: 500;
    }

    &__title,
    &__btn {
        font-size: 25px;
        line-height: 1.52;
    }

    &__title {
        color: $primary-black;
        margin: auto;
        text-transform: capitalize;

        &.basic {
            text-transform: uppercase;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 39px;
        border-top: 1px solid $pricing-border-color;
    }

    &__bottom-price {
        font-size: 35px;
        line-height: 1.4;
        color: $primary-black;
        margin-bottom: 15px;

        span {
            font-family: Poppins;
            font-weight: normal;
            font-size: 18px;
            line-height: 1.62;
            margin-right: -3px;
        }
    }

    &__bottom-term {
        font-size: 18px;
        line-height: 1.62;
        margin-bottom: 40px;
    }

    &__bottom-option {
        font-family: Poppins;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.6;
        text-transform: capitalize;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
        &:last-child {
            margin-bottom: 30px;
        }
    }

    &__btn {
        background-color: transparent;
        border: 1px solid $light-blue;
        border-radius: 5px;
        color: $light-blue;
        text-transform: capitalize;
        padding: 14px 29px;
        margin-bottom: 40px;
        cursor: pointer;

        @include buttonAfter(5px, $light-blue);
    }
}
