.pricing {
    
    &__offers {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__plan {
        font-family: Lato;
        font-weight: 500;
        font-size: 35px;
        line-height: 1.4;
        text-align: center;
        text-transform: uppercase;
        color: $primary-black;
        margin-bottom: 30px;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 353px;
        border: 1px solid #1B45DA;
        border-radius: 5px;
        padding: 9px;
        margin-bottom: 60px;
    }

    &__form-btn {
        color: $main-text;
        border-radius: 5px;
        padding: 10px 0;

        &__input {
            display: none;
        }

        &__label {
            cursor: pointer;
            text-transform: capitalize;
            padding: 20px;
        }

        &__input:checked ~ &__label {
            color: $white;
            border-radius: 5px;
            background-color: $light-blue;
            padding: 12px 21px;
            // font-family: Poppins;
            // font-size: 18px;
            // line-height: 1.62;
        }
    }

    &__cards-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card-wrapper {
        max-width: 360px;
        width: 100%;
        background-color: $white;
        box-shadow: 0px 4px 30px rgba($pricing-black, 0.14);
        border-radius: 10px;
        overflow: hidden;

        &:hover {

            background: linear-gradient(180deg, #D9315A 0%, #F3678A 100%);

            .pricing__card-top {
                background: linear-gradient(180deg, #D95374 0%, #D32852 100%);

                .pricing__card-title {
                    color: $white;
                }
            }

            .pricing__card-bottom {
                background: linear-gradient(180deg, #D9315A 0%, #F3678A 100%);
                border-top: 1px solid #D9315A;

                .pricing__card-price,
                .pricing__card-term,
                .pricing__card-options {
                    color: $white;
                }
            }

            .pricing__card-btn {
                background-color: $light-blue;
                color: $white;
            }
        }
    }

    &__card-top {
        display: flex;
        padding: 46px 0 45px 0;
    }

    &__card-title {
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 1.52;
        text-align: center;
        color: $primary-black;
        margin: auto;

        &.basic {
            text-transform: uppercase;
        }
    }

    &__card-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 39px;
        border-top: 1px solid rgba($pricing-black, 0.14);
    }

    &__card-price {
        font-family: Lato;
        font-weight: 500;
        font-size: 35px;
        line-height: 1.4;
        text-align: center;
        color: $primary-black;
        margin-bottom: 15px;

        span {
            font-family: Poppins;
            font-weight: normal;
            font-size: 18px;
            line-height: 1.62;
            margin-right: -3px;
        }
    }

    &__card-term {
        font-size: 18px;
        line-height: 1.62;
        text-align: center;
        margin-bottom: 40px;
    }

    &__card-options {

    }

    &__card-option {
        font-family: Poppins;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.6;
        text-align: center;
        text-transform: capitalize;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
        &:last-child {
            margin-bottom: 30px;
        }
    }

    &__card-btn {
        background-color: transparent;
        border: 1px solid $light-blue;
        border-radius: 5px;
        color: $light-blue;
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 1.52;
        text-transform: capitalize;
        padding: 14px 29px;
        margin-bottom: 40px;
    }
}