.pricing {
    &__container {
        @extend %container;
        padding-bottom: 140px;
    }

    &__offers {
        font-size: 20px;
        line-height: 1.6;
        letter-spacing: 0.05em;
        margin-bottom: 15px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
    }

    &__plan {
        font-family: Lato;
        font-size: 35px;
        line-height: 1.4;
        color: $primary-black;
        margin-bottom: 30px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
    }
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 353px;
    border: 1px solid $dark-blue;
    border-radius: 5px;
    padding: 9px;
    margin-bottom: 60px;

    &__button {
        color: $main-text;
        padding: 10px 0;
    }

    &__button-input {
        display: none;
    }

    &__button-label {
        cursor: pointer;
        text-transform: capitalize;
        padding: 20px;
    }

    &__button-input:checked ~ &__button-label {
        color: $white;
        background-color: $light-blue;
        padding: 12px 21px;
    }

    &__button,
    &__button-input:checked ~ &__button-label {
        border-radius: 5px;
    }
}

.pricecards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pricecard {
    max-width: 360px;
    width: 100%;
    box-shadow: 0px 4px 30px $pricecard-shadow;
    border-radius: 10px;
    overflow: hidden;
    transition: .1s ease;
    transition-property: background-color;

    &__emphasis {
        box-shadow: none;
        background-color: $pricing-bottom-dark-red;
        position: relative;
    }

    &__emphasis-deal {
        background-color: $pricing-green;
        position: absolute;
        transform: rotate(-45deg);
        color: $primary-black;
        font-size: 9px;
        line-height: 1.56;
        text-transform: capitalize;
        z-index: 1;
        padding: 15px 16px 18px;
        top: -3.2px;
        left: -15px;
        -webkit-clip-path: polygon(10% 27%, 90% 27%, 100% 40%, 100% 60%, 89% 71%, 10% 71%, 0 60%, 0 40%); clip-path: polygon(10% 27%, 90% 27%, 100% 40%, 100% 60%, 94% 71%, 5% 71%, 0 60%, 0 40%);
    }

    &__top {
        padding: 46px 0 45px 0;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: $pricing-top-bg;
            opacity: 0;
            visibility: hidden;
            transition: .2s ease;
            transition-property: opacity, visibility;
        }
    }

    &__emphasis-top {
        &:before {
            opacity: 1;
            visibility: visible;
        }
    }

    &__top-title {
        position: relative;
        color: $primary-black;
        margin: auto;
        text-transform: capitalize;
        text-align: center;
        font-family: Lato;
        font-weight: 500;
        font-size: 25px;
        line-height: 1.52;
        transition: color .2s ease;

        &.basic {
            text-transform: uppercase;
        }
    }

    &__emphasis-top-title {
        color: $white;
    }

    &__bottom {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 39px;
        border-top: 1px solid $pricing-border-color;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: $pricing-bottom-bg;
            opacity: 0;
            visibility: hidden;
            transition: .2s ease;
            transition-property: opacity, visibility;
        }
    }

    &__emphasis-bottom {
        border-top: 1px solid transparent;

        &:before {
            opacity: 1;
            visibility: visible;
        }
    }

    &__bottom-price {
        position: relative;
        font-size: 35px;
        line-height: 1.4;
        color: $primary-black;
        margin-bottom: 15px;
        text-align: center;
        font-family: Lato;
        font-weight: 500;
        transition: color .2s ease;

        span {
            font-family: Poppins;
            font-weight: normal;
            font-size: 18px;
            line-height: 1.62;
            margin-right: -3px;
        }
    }

    &__emphasis-bottom-price {
        color: $white;
    }

    &__bottom-term {
        position: relative;
        font-size: 18px;
        line-height: 1.62;
        margin-bottom: 40px;
        text-align: center;
        transition: color .2s ease;
    }

    &__emphasis-bottom-term {
        color: $white;
    }

    &__bottom-options {
        transition: color .2s ease;
    }

    &__emphasis-bottom-options {
        color: $white;
    }

    &__bottom-option {
        position: relative;
        text-align: center;
        font-family: Poppins;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.6;
        text-transform: capitalize;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
        &:last-child {
            margin-bottom: 30px;
        }
    }

    &__btn {
        position: relative;
        background-color: $white;
        border: 1px solid $light-blue;
        border-radius: 5px;
        color: $light-blue;
        text-transform: capitalize;
        padding: 14px 29px;
        margin-bottom: 40px;
        cursor: pointer;
        font-family: Lato;
        font-weight: 500;
        font-size: 25px;
        line-height: 1.52;
        transition: background .2s ease;

        @include buttonAfter(5px, $light-blue);
    }

    &__emphasis-bottom-btn {
        background-color: $light-blue;
        color: $white;
    }

    &:hover,
    &:focus {
        background-color: $pricing-bottom-dark-red;

        .pricecard__top:before {
            opacity: 1;
            visibility: visible;
        }

        .pricecard__top-title {
            color: $white;
        }

        .pricecard__bottom {
            border-top: 1px solid $pricing-bottom-dark-red;
        }

        .pricecard__bottom:before {
            opacity: 1;
            visibility: visible;
            
        }
        .pricecard__bottom-price,
        .pricecard__bottom-term,
        .pricecard__bottom-options {
            color: $white;
        }

        .pricecard__btn {
            background-color: $light-blue;
            color: $white;
        }
    }
}