.services {
    .container {
        background-image: url(../images/servicesDots.svg);
        // background-position: top right;
        background-position: 1100px -1px;
        background-repeat: no-repeat;
        background-size: auto;
        padding-bottom: 81px;
    }

    &__title {
        @extend %sectionTitle;
        text-align: left;
        max-width: 492px;
    }

    &__desc {
        @include sectionDesk(604px);
        text-align: left;
        margin-left: 0;
    }

    &__cards-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card-wrapper {
        display: flex;
        padding: 40px;
        position: relative;
        max-width: 360px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 60px;

        &.background1 {
            @include card-wrapper-bg(url(../images/servicesWebDev.jpg));
        }

        &.background2 {
            @include card-wrapper-bg(url(../images/servicesProdBrand.jpg));
        }

        &.background3 {
            @include card-wrapper-bg(url(../images/servicesWebstSoltn.jpg));
        }

        &.background4 {
            @include card-wrapper-bg(url(../images/servicesCleanCode.jpg));
        }

        &.background5 {
            @include card-wrapper-bg(url(../images/servicesDigMark.jpg));
        }

        &.background6 {
            @include card-wrapper-bg(url(../images/servicesCustSuprt.jpg));
        }

        // &-img {
        //     border-radius: 10px;
        // }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background-color: rgba($black, 0.6);
            backdrop-filter: blur(104px);
            transition: all 0.05s ease;
        }

        &:hover,
        &:focus {
            &::before {
                background-color: transparent;
                backdrop-filter: unset;
            }

            .services__inner-card-wrapper {
                background: linear-gradient(
                    180deg,
                    $inner-card-start 0%,
                    $inner-card-end 100%
                );
                color: $white;

                .services__inner-card-title {
                    color: $white;
                }
            }
        }
    }

    &__inner-card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 280px;
        background: $inner-card-wrapper-bg;
        border-radius: 10px;
        position: relative;
        z-index: 1;
        padding-top: 63px;
        padding-bottom: 61px;
        margin: auto;
    }

    &__inner-card-title {
        @extend %subTitle;
        text-align: center;
        margin-bottom: 21px;
    }

    &__inner-card-desc {
        @extend %cardDesc;
        margin-bottom: 39px;
    }

    &__inner-card-circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $white;
        display: flex;

        &:hover,
        &:focus {
            transform: translateY(-2px) scale(1.02);
            box-shadow: -1px 6px 16px -10px rgba(79, 79, 79, 0.97);

            .services__inner-card-arrow {
                filter: $fill-light-blue;
                transform: translateY(3.5px);
            }
        }

        &:active {
            transform: translateY(-1px) scale(1.01);
            box-shadow: -1px 6px 12px -10px rgba(79, 79, 79, 0.97);

            .services__inner-card-arrow {
                filter: $fill-light-blue;
                transform: translateY(2px);
            }
        }
    }

    &__inner-card-arrow {
        margin: auto;
    }
}
