.reviews {
    .container {
        padding-bottom: 140px;

        @media screen and (max-width: 992px) {
            padding-bottom: 45px;
        }

        @media screen and (max-width: 768px) {
            padding-bottom: 20px;
        }

        @media screen and (max-width: 576px) {
            padding-bottom: 15px;
        }
    }

    &__title {
        @extend %sectionTitle;

        @media screen and (max-width: 992px) {
            margin-bottom: 15px;
        }

        @media screen and (max-width: 576px) {
            font-size: clamp(31px, 8vw, 43px);
            max-width: 270px;
            margin: 0 auto 15px;
        }
    }

    &__desc {
        @include sectionDesk(715px);

        @media screen and (max-width: 992px) {
            margin-bottom: 35px;
            font-size: clamp(14px, 3vw, 18px);
        }

        @media screen and (max-width: 576px) {
            margin-bottom: 20px;
        }
    }

    &__bg {
        max-width: 1140px;
        padding: 45px 68px;
        border: 1px solid $reviews-border-color;
        border-radius: 10px;
        background-image: url(../images/reviewsWaves.svg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;

        @media screen and (max-width: 768px) {
            padding: 30px 50px;
        }

        @media screen and (max-width: 576px) {
            padding: 18px 21px;
        }
    }

    .slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: 992px) {
            justify-content: space-evenly;
        }

        &__buttons {
            margin: 0 auto;
            max-width: 110px;
            display: flex;
            justify-content: space-between;
        }

        &__btn {
            background: $light-blue;
            opacity: 0.1;
            border-radius: 20px;
            border: none;
            width: 20px;
            height: 11px;
            cursor: pointer;
            transition: 0.2s ease;
            transition-property: width;

            &:active,
            &:visited {
                width: 40px;
                opacity: 1;
            }

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }

    .review {
        margin-bottom: 50px;
        cursor: pointer;

        @media screen and (max-width: 992px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media screen and (max-width: 992px) {
            margin-bottom: 20px;
        }

        &:hover {
            .review__desc {
                color: $primary-black;
            }

            .review__person-img-wrap::before {
                box-shadow: inset 0px 0px 0px 1px $light-blue;
            }
        }

        &__desc {
            max-width: 371px;
            font-family: Poppins;
            font-style: italic;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.62;
            position: relative;
            margin-top: 14px;
            margin-left: 46.33px;
            margin-bottom: 30px;

            @media screen and (max-width: 576px) {
                margin-bottom: 15px;
                font-size: clamp(14px, 3vw, 18px);
            }

            &::before {
                content: "";
                position: absolute;
                top: -14px;
                left: -46px;
                opacity: 0.1;
                width: 41.33px;
                height: 34.52px;
                background-image: url(../images/reviewsQuote.svg),
                    url(../images/reviewsQuote.svg);
                background-repeat: no-repeat;
                background-position: 0 0, 21px 0;
                background-size: auto;
            }
        }

        &__person {
            display: flex;
            align-items: center;
            max-width: 263px;
            justify-content: start;
        }

        &__person-img-wrap {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 90px;
                height: 90px;
                box-shadow: inset 0px 0px 0px 1px $primary-black;
                border-radius: 50%;
                z-index: 1;

                @media screen and (max-width: 576px) {
                    width: clamp(70px, 17vw, 90px);
                    height: auto;
                }
            }
        }

        &__person-picture {
            margin-right: 30px;
            width: 90px;
            height: 90px;
            border-radius: 50%;

            @media screen and (max-width: 576px) {
                width: clamp(70px, 17vw, 90px);
                height: auto;
            }
        }

        &__person-name,
        &__person-position {
            text-transform: capitalize;
        }

        &__person-name {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.6;
            color: $primary-black;
            margin-bottom: 6px;

            @media screen and (max-width: 576px) {
                font-size: clamp(14px, 3vw, 20px);
            }
        }

        &__person-position {
            font-size: 16px;
            line-height: 1.63;

            @media screen and (max-width: 576px) {
                font-size: clamp(12px, 3vw, 16px);
            }
        }
    }
}
