/* FONTS */

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Semibold.woff') format('woff'),
        url('../fonts/Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Lato';
    font-weight: normal;
    color: #000;
}

/* TODO HIDE SCROLLBAR */
body::-webkit-scrollbar {
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 1130px;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

.button {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 27px 11px 28px;
    border: 1px solid #fff;
    border-radius: 6px;
}

.button:hover,
.button:focus {
    filter: drop-shadow(0px 0px .4px #fff);
}

/* ------------------------ */
/* ---- HEADER SECTION ---- */
/* ------------------------ */

.header {
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../images/topBanner.jpg);
    background-color: #c4c4c4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}

.header__container {
    padding-top: 49px;
    padding-bottom: 208px;
}

/* ---- NAVIGATION BAR ---- */

.header__navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1px;
    margin-bottom: 167px;
    position: relative;
    z-index: 2;
}

/* --- CloudBudget part --- */

.header__logo-link {
    display: flex;
    flex-direction: row;
    margin-left: 11.45px;
    align-items: center
}

.header__logo-link:hover,
.header__logo-link:focus {
    filter: drop-shadow(0px 0px .4px #fff);
}

.header__logo-img {
    margin-right: 8.5px;
}

.header__logo-text {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.23;
    color: #fff;
}

/* --- Navigation links part --- */

.header__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 39px;
    padding-bottom: 3px;
}

.header__nav-item {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding: 0 10px
}

.header__nav-link {
    color: inherit;
}

.header__nav-link:hover,
.header__nav-link:focus {
    text-shadow: 0 0 .4px #FFF, 0 0 .4px #FFF;
}

/* --- Selector and Login part --- */

.header__login-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 13px;
    flex-wrap: wrap;
}

.lang__selector-wrap {
    display: flex;
    flex-direction: row;
    margin-right: 28px;
    padding-top: 3px;
}

.lang-selector__label {
    margin-right: 11px;
    padding-bottom: 2px;
    position: relative;
}

.lang-selector {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.22;
    color: #fff;
    text-transform: uppercase;
    width: 46px;
    padding-bottom: 4px;
    appearance: none;
    cursor: pointer;
    outline: none;
}

.lang-selector:hover,
.lang-selector:focus,
.lang-selector__arrow:hover,
.lang-selector__arrow:focus {
    filter: drop-shadow(0px 0px .4px #fff);
}

.lang-selector__item {
    background-color: transparent;
}

.lang-selector__arrow {
    margin-left: -15px;
    padding-bottom: 2px;
}

/* *arrow just in case using after */
/* .lang-selector__label::after {
content: "";
position: absolute;
width: 13px;
height: 8px;
background-color: #fff;
clip-path: polygon(100% 0%, 0 0%, 50% 100%);
top: 13.7px;
left: 74.3px;
}

.lang__selector-wrap {
    display: flex;
    flex-direction: row;
    margin-right: 27px;
    padding-top: 3px;
} */

/* --- Header title part --- */

.title__wrap {
    max-width: 578px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    text-align: center;
}

.title__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 39px;
}

.title__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    max-width: 490px;
    width: 100%;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 67px;
}