%font14 {
    font-size: 14px;
    line-height: 1.22;
    color: $white;
}

%font18 {
    font-size: 18px;
    line-height: 1.23;
    color: $white;
}

%cardtitle {
    font-size: 18px;
    line-height: 1.23;
    color: $middle-black;
    font-weight: 700;
    text-align: center;
}

%fontsubttl {
    font-size: 14px;
    line-height: 1.43;
}

%fonttitle {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 600;
}

%font1215 {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

%footerFont {
    font-size: 12px;
    line-height: 1.17;
    color: #101010;
}