html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-MediumItalic.woff") format("woff"), url("../fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.62;
  color: #575859;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.inner-container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1160px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header .wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: #fff5f5;
}

.header .wave-bottom svg {
  position: relative;
  display: block;
  width: calc(162% + 1.3px);
  height: 77px;
}

.header .wave-bottom .shape-fill {
  fill: #fff;
}

.header__bar-logo:hover, .header__bar-nav-link:hover, .header .watch-video__link:hover, .header__bar-logo:focus, .header__bar-nav-link:focus, .header .watch-video__link:focus {
  color: #3988ff;
  text-shadow: 0 0 0.5px #3988ff, 0 0 0.5px #3988ff;
}

.creativity__title, .features__title, .services__title, .reviews .section__title {
  color: #050c26;
  font-family: Lato;
  font-weight: 500;
  font-size: 43px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 24px;
}

.creativity .progressbar-row-title, .features__card-title, .services__inner-card-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.49;
  color: #050c26;
  text-transform: capitalize;
}

.features__card-desc, .services__inner-card-desc {
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.footer .verticalnav__subtitle, .footer .contact-us__subtitle {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.header {
  background: #fff5f5;
  position: relative;
}

.header .container {
  padding-top: 40px;
  padding-bottom: 230px;
  background-image: url(../images/headerGraph.svg), url(../images/headerGraph2pink.svg), url(../images/headerGuy.png), url(../images/headerGreenExclipse.svg), url(../images/headerGradCloud.png);
  background-repeat: no-repeat;
  background-position: 933px 270px, 1290px 270px, 650px 116px, 901px 258px, 831px 384px;
}

.header__bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 158px;
}

.header__bar-logo {
  font-family: "Lato";
  font-weight: 900;
  font-size: 25px;
  line-height: 1.49;
  letter-spacing: 1.1px;
  color: #050c26;
  text-transform: uppercase;
  padding-top: 2px;
}

.header__bar-logo-link {
  color: inherit;
  transition: all 0.2s ease;
}

.header__bar-nav-wrap {
  margin-right: 57px;
}

.header__bar-nav {
  display: flex;
  flex-wrap: wrap;
}

.header__bar-nav-item {
  text-transform: capitalize;
  padding: 0 25px;
}

.header__bar-nav-link {
  color: inherit;
  position: relative;
  transition: all 0.2s ease;
}

.header__bar-nav-link:hover::after, .header__bar-nav-link:focus::after {
  display: inline-block;
  opacity: 100%;
}

.header__bar-nav-link::after {
  display: none;
  opacity: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #3988ff;
  border-radius: 2px;
  position: absolute;
  bottom: -7px;
  left: 0;
  transition: all 0.2s ease;
}

.header .button {
  margin-right: 1px;
  font-family: Poppins;
  font-weight: 500;
  position: relative;
}

.header .button {
  position: relative;
  color: #fff;
  font-size: 18px;
  line-height: 1.62;
  text-transform: capitalize;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  background-color: #3988ff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.header .button::after {
  position: absolute;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #3988ff;
}

.header .button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(5, 12, 38, 0.2);
  color: #fff;
}

.header .button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.header .button:active, .header .button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(5, 12, 38, 0.2);
  color: #fff;
}

.header .button:visited {
  color: #fff;
}

.header__content {
  max-width: 550px;
}

.header__content-title {
  font-family: Lato;
  font-weight: bold;
  font-size: 69px;
  line-height: 1.21;
  color: #050c26;
  margin-bottom: 25px;
}

.header__content-title .ideas {
  color: #3988ff;
}

.header__content-text {
  max-width: 496px;
  margin-bottom: 35px;
}

.header .watch-video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 211px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  color: #050c26;
}

.header .watch-video__button {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 30px #ffe6e6;
}

.header .watch-video__button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #fff;
}

.header .watch-video__button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(5, 12, 38, 0.2);
}

.header .watch-video__button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.header .watch-video__button:active, .header .watch-video__button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(5, 12, 38, 0.2);
}

.header .watch-video__button:hover .watch-video__button-arrow,
.header .watch-video__button:hover .watch-video__button-arrow, .header .watch-video__button:focus .watch-video__button-arrow,
.header .watch-video__button:focus .watch-video__button-arrow {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(69deg) brightness(106%) contrast(101%);
}

.header .watch-video__button-arrow {
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.header .watch-video__link {
  color: inherit;
}

.creativity {
  padding-top: 96.41px;
  padding-bottom: 189px;
  max-width: 1600px;
  margin: 0 auto;
}

.creativity__title {
  font-weight: 600;
  line-height: 1.31;
}

.creativity__desc {
  max-width: 806px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.creativity .progressbar-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.creativity .progressbar-img {
  border-radius: 10px;
  margin-right: 97px;
}

.creativity .progressbar-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 8px;
  margin-bottom: 8px;
  max-width: 488px;
  width: 100%;
}

.creativity .progressbar-row-title {
  margin-bottom: 20px;
}

.creativity .container1 {
  background-color: rgba(228, 26, 26, 0.1);
  width: 100%;
  height: 15px;
  border-radius: 15px;
}

.creativity .filler1 {
  position: relative;
  background-color: #e41a1a;
  height: 15px;
  border-radius: 15px;
  width: 80%;
}

.creativity .number1 {
  position: absolute;
  bottom: 180%;
  left: 92%;
  color: #e41a1a;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.49;
}

.creativity .container2 {
  background-color: rgba(218, 90, 18, 0.1);
  width: 100%;
  height: 15px;
  border-radius: 15px;
}

.creativity .filler2 {
  position: relative;
  background-color: #da5a12;
  height: 15px;
  border-radius: 15px;
  width: 90%;
}

.creativity .number2 {
  position: absolute;
  bottom: 180%;
  left: 92%;
  color: #da5a12;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.49;
}

.creativity .container3 {
  background-color: rgba(91, 187, 16, 0.1);
  width: 100%;
  height: 15px;
  border-radius: 15px;
}

.creativity .filler3 {
  position: relative;
  background-color: #5bbb10;
  height: 15px;
  border-radius: 15px;
  width: 75%;
}

.creativity .number3 {
  position: absolute;
  bottom: 180%;
  left: 92%;
  color: #5bbb10;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.49;
}

.creativity .container4 {
  background-color: rgba(21, 193, 204, 0.1);
  width: 100%;
  height: 15px;
  border-radius: 15px;
}

.creativity .filler4 {
  position: relative;
  background-color: #15c1cc;
  height: 15px;
  border-radius: 15px;
  width: 80%;
}

.creativity .number4 {
  position: absolute;
  bottom: 180%;
  left: 92%;
  color: #15c1cc;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.49;
}

.features {
  padding-bottom: 141px;
}

.features__desk {
  max-width: 874px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
  margin-bottom: 74px;
}

.features__cards-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features__card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 263px;
  border: 1px solid rgba(5, 12, 38, 0.05);
  border-radius: 10px;
  padding-top: 207px;
  transition: transform .3s;
}

.features__card-wrapper:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 5px 25px rgba(5, 12, 38, 0.15);
}

.features__card-circle {
  position: absolute;
  top: 24.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.features__card-circle.circle1 {
  background-color: rgba(255, 96, 96, 0.1);
}

.features__card-circle.circle2 {
  background-color: rgba(243, 83, 170, 0.1);
}

.features__card-circle.circle3 {
  background-color: rgba(197, 72, 255, 0.1);
}

.features__card-circle.circle4 {
  background-color: rgba(79, 158, 252, 0.1);
}

.features__card-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features__card-title {
  text-align: center;
  margin-bottom: 16px;
  text-transform: none;
}

.features__card-desc {
  margin-bottom: 24px;
}

.features__card-btn {
  font-family: Poppins;
  margin-bottom: 26px;
}

.features__card-btn {
  position: relative;
  color: #fff;
  font-size: 18px;
  line-height: 1.62;
  text-transform: capitalize;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  background-color: #3988ff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.features__card-btn::after {
  position: absolute;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #3988ff;
}

.features__card-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(5, 12, 38, 0.2);
  color: #fff;
}

.features__card-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.features__card-btn:active, .features__card-btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(5, 12, 38, 0.2);
  color: #fff;
}

.features__card-btn:visited {
  color: #fff;
}

.features__card-btn {
  padding: 10px 20px;
}

.services .container {
  background-image: url(../images/servicesDots.svg);
  background-position: 1100px -1px;
  background-repeat: no-repeat;
  background-size: auto;
  padding-bottom: 81px;
}

.services__title {
  text-align: left;
  max-width: 492px;
}

.services__desc {
  max-width: 604px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: left;
  margin-left: 0;
}

.services__cards-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__card-wrapper {
  display: flex;
  padding: 40px;
  position: relative;
  max-width: 360px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 60px;
}

.services__card-wrapper.background1 {
  background-image: url(../images/servicesWebDev.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.services__card-wrapper.background2 {
  background-image: url(../images/servicesProdBrand.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.services__card-wrapper.background3 {
  background-image: url(../images/servicesWebstSoltn.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.services__card-wrapper.background4 {
  background-image: url(../images/servicesCleanCode.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.services__card-wrapper.background5 {
  background-image: url(../images/servicesDigMark.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.services__card-wrapper.background6 {
  background-image: url(../images/servicesCustSuprt.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.services__card-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(104px);
  transition: all 0.05s ease;
}

.services__card-wrapper:hover::before, .services__card-wrapper:focus::before {
  background-color: transparent;
  backdrop-filter: unset;
}

.services__card-wrapper:hover .services__inner-card-wrapper, .services__card-wrapper:focus .services__inner-card-wrapper {
  background: linear-gradient(180deg, #d93059 0%, #d95b7a 100%);
  color: #fff;
}

.services__card-wrapper:hover .services__inner-card-wrapper .services__inner-card-title, .services__card-wrapper:focus .services__inner-card-wrapper .services__inner-card-title {
  color: #fff;
}

.services__inner-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  background: #f3f3f3;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  padding-top: 63px;
  padding-bottom: 61px;
  margin: auto;
}

.services__inner-card-title {
  text-align: center;
  margin-bottom: 21px;
}

.services__inner-card-desc {
  margin-bottom: 39px;
}

.services__inner-card-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
}

.services__inner-card-circle:hover, .services__inner-card-circle:focus {
  transform: translateY(-2px) scale(1.02);
  box-shadow: -1px 6px 16px -10px rgba(79, 79, 79, 0.97);
}

.services__inner-card-circle:hover .services__inner-card-arrow, .services__inner-card-circle:focus .services__inner-card-arrow {
  filter: invert(64%) sepia(63%) saturate(6673%) hue-rotate(203deg) brightness(103%) contrast(104%);
  transform: translateY(3.5px);
}

.services__inner-card-circle:active {
  transform: translateY(-1px) scale(1.01);
  box-shadow: -1px 6px 12px -10px rgba(79, 79, 79, 0.97);
}

.services__inner-card-circle:active .services__inner-card-arrow {
  filter: invert(64%) sepia(63%) saturate(6673%) hue-rotate(203deg) brightness(103%) contrast(104%);
  transform: translateY(2px);
}

.services__inner-card-arrow {
  margin: auto;
}

.pricing .inner-container {
  padding-bottom: 140px;
}

.pricing__offers {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.pricing__plan {
  font-family: Lato;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: #050c26;
  margin-bottom: 30px;
}

.pricing__form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 353px;
  border: 1px solid #1B45DA;
  border-radius: 5px;
  padding: 9px;
  margin-bottom: 60px;
}

.pricing__form-btn {
  color: #575859;
  border-radius: 5px;
  padding: 10px 0;
}

.pricing__form-btn__input {
  display: none;
}

.pricing__form-btn__label {
  cursor: pointer;
  text-transform: capitalize;
  padding: 20px;
}

.pricing__form-btn__input:checked ~ .pricing__form-btn__label {
  color: #fff;
  border-radius: 5px;
  background-color: #3988ff;
  padding: 12px 21px;
}

.pricing__cards-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pricing__card-wrapper {
  max-width: 360px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.14);
  border-radius: 10px;
  overflow: hidden;
}

.pricing__card-wrapper:hover {
  background: linear-gradient(180deg, #D9315A 0%, #F3678A 100%);
}

.pricing__card-wrapper:hover .pricing__card-top {
  background: linear-gradient(180deg, #D95374 0%, #D32852 100%);
}

.pricing__card-wrapper:hover .pricing__card-top .pricing__card-title {
  color: #fff;
}

.pricing__card-wrapper:hover .pricing__card-bottom {
  background: linear-gradient(180deg, #D9315A 0%, #F3678A 100%);
  border-top: 1px solid #D9315A;
}

.pricing__card-wrapper:hover .pricing__card-bottom .pricing__card-price,
.pricing__card-wrapper:hover .pricing__card-bottom .pricing__card-term,
.pricing__card-wrapper:hover .pricing__card-bottom .pricing__card-options {
  color: #fff;
}

.pricing__card-wrapper:hover .pricing__card-btn {
  background-color: #3988ff;
  color: #fff;
}

.pricing__card-top {
  display: flex;
  padding: 46px 0 45px 0;
}

.pricing__card-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.52;
  text-align: center;
  color: #050c26;
  margin: auto;
  text-transform: capitalize;
}

.pricing__card-title.basic {
  text-transform: uppercase;
}

.pricing__card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  border-top: 1px solid rgba(153, 153, 153, 0.14);
}

.pricing__card-price {
  font-family: Lato;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.4;
  text-align: center;
  color: #050c26;
  margin-bottom: 15px;
}

.pricing__card-price span {
  font-family: Poppins;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.62;
  margin-right: -3px;
}

.pricing__card-term {
  font-size: 18px;
  line-height: 1.62;
  text-align: center;
  margin-bottom: 40px;
}

.pricing__card-option {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  text-transform: capitalize;
}

.pricing__card-option:not(:last-child) {
  margin-bottom: 15px;
}

.pricing__card-option:last-child {
  margin-bottom: 30px;
}

.pricing__card-btn {
  background-color: transparent;
  border: 1px solid #3988ff;
  border-radius: 5px;
  color: #3988ff;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.52;
  text-transform: capitalize;
  padding: 14px 29px;
  margin-bottom: 40px;
}

.reviews .inner-container {
  padding-bottom: 140px;
}

.reviews .section__desc {
  max-width: 715px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.reviews__wrap {
  max-width: 1140px;
  padding: 45px 68px;
  border: 1px solid rgba(5, 12, 38, 0.1);
  border-radius: 10px;
  background-image: url(../images/reviewsWaves.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.reviews .slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviews .slider__buttons {
  margin: 0 auto;
  max-width: 110px;
  display: flex;
  justify-content: space-between;
}

.reviews .slider__btn {
  background: #3988ff;
  opacity: 0.1;
  border-radius: 20px;
  border: none;
  width: 20px;
  height: 11px;
  cursor: pointer;
}

.reviews .slider__btn:first-child {
  width: 40px;
  opacity: 1;
}

.reviews .slider__btn:hover {
  width: 40px;
  opacity: 1;
}

.reviews .review {
  margin-bottom: 50px;
  cursor: pointer;
}

.reviews .review:hover .review__desc {
  color: #050c26;
}

.reviews .review:hover .review__person-picture {
  box-shadow: inset 0px 0px 0px 1px #3988ff;
}

.reviews .review__desc {
  max-width: 371px;
  font-family: Poppins;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.62;
  position: relative;
  margin-top: 14px;
  margin-left: 46.33px;
  margin-bottom: 30px;
}

.reviews .review__desc::before {
  content: "";
  position: absolute;
  top: -14px;
  left: -46px;
  opacity: .1;
  width: 41.33px;
  height: 34.52px;
  background-image: url(../images/reviewsQuote.svg), url(../images/reviewsQuote.svg);
  background-repeat: no-repeat;
  background-position: 0 0, 21px 0;
  background-size: auto;
}

.reviews .review__person {
  display: flex;
  align-items: center;
  max-width: 263px;
  justify-content: start;
}

.reviews .review__person-picture {
  margin-right: 30px;
  width: 90px;
  height: 90px;
  box-shadow: inset 0px 0px 0px 1px #050c26;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.reviews .review__person-picture.picture1 {
  background-image: url(../../images/reviewsCorey.png);
}

.reviews .review__person-picture.picture2 {
  background-image: url(../../images/reviewsJacob.png);
}

.reviews .review__person-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: #050c26;
  text-transform: capitalize;
  margin-bottom: 6px;
}

.reviews .review__person-position {
  font-size: 16px;
  line-height: 1.63;
  text-transform: capitalize;
}

.footer {
  background-color: #050c26;
}

.footer .inner-container {
  padding-top: 75px;
}

.footer__top-part {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.footer .innovated {
  max-width: 318px;
  margin-right: 71px;
}

.footer .innovated__logo {
  font-family: "Lato";
  font-weight: 900;
  font-size: 25px;
  line-height: 1.52;
  letter-spacing: 1.1px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer .innovated__desc {
  font-size: 18px;
  line-height: 1.62;
  color: #fff;
  opacity: 0.7;
  width: 316px;
  margin-left: 2px;
}

.footer .verticalnav {
  margin-right: 72px;
  max-width: 226px;
  width: 100%;
}

.footer .verticalnav.support {
  margin-right: 64px;
  max-width: 127px;
  width: 100%;
}

.footer .verticalnav.support .verticalnav__nav-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer .verticalnav__nav-item {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  opacity: .7;
  text-transform: capitalize;
  color: #fff;
}

.footer .verticalnav__nav-item:not(:first-child) {
  margin-bottom: 13px;
}

.footer .verticalnav__nav-item:last-child {
  margin-bottom: 0;
}

.footer .verticalnav__nav-item:first-child {
  margin-bottom: 10px;
}

.footer .verticalnav__nav-link {
  line-height: inherit;
}

.footer .contact-us {
  display: flex;
  flex-direction: column;
}

.footer .contact-us .email {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.62;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 10px;
}

.footer .contact-us .social-media {
  max-width: 155px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 0;
}

.footer .contact-us .subscribe {
  max-width: 161px;
}

.footer .contact-us .subscribe {
  position: relative;
  color: #fff;
  font-size: 18px;
  line-height: 1.62;
  text-transform: capitalize;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  background-color: #3988ff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.footer .contact-us .subscribe::after {
  position: absolute;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #3988ff;
}

.footer .contact-us .subscribe:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(5, 12, 38, 0.2);
  color: #fff;
}

.footer .contact-us .subscribe:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.footer .contact-us .subscribe:active, .footer .contact-us .subscribe:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(5, 12, 38, 0.2);
  color: #fff;
}

.footer .contact-us .subscribe:visited {
  color: #fff;
}

.footer .contact-us .subscribe {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: #fff;
}

.footer__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0 29px;
}

.footer__copyright .copyright-desc {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.62;
  text-align: center;
  text-transform: capitalize;
}
