html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-MediumItalic.woff") format("woff"), url("../fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.62;
  color: #575859;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.inner-container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1160px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header .wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: #fff5f5;
}

.header .wave-bottom svg {
  position: relative;
  display: block;
  width: calc(162% + 1.3px);
  height: 77px;
}

.header .wave-bottom .shape-fill {
  fill: #fff;
}

.header__bar-logo:hover, .header__bar-nav-link:hover, .header .watch-video__link:hover, .header__bar-logo:focus, .header__bar-nav-link:focus, .header .watch-video__link:focus {
  color: #3988FF;
  text-shadow: 0 0 0.5px #3988FF, 0 0 0.5px #3988FF;
}

.creativity__title, .features__title, .services__title {
  color: #050C26;
  font-family: Lato;
  font-weight: 500;
  font-size: 43px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 24px;
}

.creativity .progressbar-row-title, .features__card-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.49;
  color: #050C26;
  text-transform: capitalize;
}

.features__card-desc {
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.header {
  background: #fff5f5;
  position: relative;
}

.header .container {
  padding-top: 40px;
  padding-bottom: 230px;
  background-image: url(../images/headerGraph.svg), url(../images/headerGraph2pink.svg), url(../images/headerGuy.png), url(../images/headerGreenExclipse.svg), url(../images/headerGradCloud.png);
  background-repeat: no-repeat;
  background-position: 933px 270px, 1290px 270px, 650px 116px, 901px 258px, 831px 384px;
}

.header__bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 158px;
}

.header__bar-logo {
  font-family: "Lato";
  font-weight: 900;
  font-size: 25px;
  line-height: 1.49;
  letter-spacing: 1.1px;
  color: #050C26;
  text-transform: uppercase;
  padding-top: 2px;
}

.header__bar-logo-link {
  color: inherit;
  transition: all 0.2s ease;
}

.header__bar-nav-wrap {
  margin-right: 57px;
}

.header__bar-nav {
  display: flex;
  flex-wrap: wrap;
}

.header__bar-nav-item {
  text-transform: capitalize;
  padding: 0 25px;
}

.header__bar-nav-link {
  color: inherit;
  position: relative;
  transition: all 0.2s ease;
}

.header__bar-nav-link:hover::after, .header__bar-nav-link:focus::after {
  display: inline-block;
  opacity: 100%;
}

.header__bar-nav-link::after {
  display: none;
  opacity: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #3988FF;
  border-radius: 2px;
  position: absolute;
  bottom: -7px;
  left: 0;
  transition: all 0.2s ease;
}

.header .button {
  margin-right: 1px;
  font-family: Poppins;
  font-weight: 500;
  position: relative;
}

.header .button {
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  background-color: #3988FF;
  font-size: 18px;
  line-height: 1.62;
  transition: all 0.2s ease;
  position: relative;
}

.header .button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #3988FF;
}

.header .button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(5, 12, 38, 0.2);
  color: #fff;
}

.header .button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.header .button:active, .header .button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(5, 12, 38, 0.2);
  color: #fff;
}

.header .button:visited {
  color: #fff;
}

.header__content {
  max-width: 550px;
}

.header__content-title {
  font-family: Lato;
  font-weight: bold;
  font-size: 69px;
  line-height: 1.21;
  color: #050C26;
  margin-bottom: 25px;
}

.header__content-title .ideas {
  color: #3988FF;
}

.header__content-text {
  max-width: 496px;
  margin-bottom: 35px;
}

.header .watch-video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 211px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  color: #050C26;
}

.header .watch-video__button {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 30px #ffe6e6;
}

.header .watch-video__button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #fff;
}

.header .watch-video__button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(5, 12, 38, 0.2);
}

.header .watch-video__button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.header .watch-video__button:active, .header .watch-video__button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(5, 12, 38, 0.2);
}

.header .watch-video__button:hover .watch-video__button-arrow,
.header .watch-video__button:hover .watch-video__button-arrow, .header .watch-video__button:focus .watch-video__button-arrow,
.header .watch-video__button:focus .watch-video__button-arrow {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(69deg) brightness(106%) contrast(101%);
}

.header .watch-video__button-arrow {
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.header .watch-video__link {
  color: inherit;
}

.creativity {
  padding-top: 96.41px;
  padding-bottom: 189px;
  max-width: 1600px;
  margin: 0 auto;
}

.creativity__title {
  font-weight: 600;
  line-height: 1.31;
}

.creativity__desc {
  max-width: 806px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.creativity .progressbar-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.creativity .progressbar-img {
  border-radius: 10px;
  margin-right: 97px;
}

.creativity .progressbar-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 8px;
  margin-bottom: 8px;
  max-width: 488px;
  width: 100%;
}

.creativity .progressbar-row-title {
  margin-bottom: 20px;
}

.creativity .container1 {
  background-color: rgba(228, 26, 26, 0.1);
  width: 100%;
  height: 15px;
  border-radius: 15px;
}

.creativity .filler1 {
  position: relative;
  background-color: #E41A1A;
  height: 15px;
  border-radius: 15px;
  width: 80%;
}

.creativity .number1 {
  position: absolute;
  bottom: 180%;
  left: 92%;
  color: #E41A1A;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.49;
}

.creativity .container2 {
  background-color: rgba(218, 90, 18, 0.1);
  width: 100%;
  height: 15px;
  border-radius: 15px;
}

.creativity .filler2 {
  position: relative;
  background-color: #DA5A12;
  height: 15px;
  border-radius: 15px;
  width: 90%;
}

.creativity .number2 {
  position: absolute;
  bottom: 180%;
  left: 92%;
  color: #DA5A12;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.49;
}

.creativity .container3 {
  background-color: rgba(91, 187, 16, 0.1);
  width: 100%;
  height: 15px;
  border-radius: 15px;
}

.creativity .filler3 {
  position: relative;
  background-color: #5BBB10;
  height: 15px;
  border-radius: 15px;
  width: 75%;
}

.creativity .number3 {
  position: absolute;
  bottom: 180%;
  left: 92%;
  color: #5BBB10;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.49;
}

.creativity .container4 {
  background-color: rgba(21, 193, 204, 0.1);
  width: 100%;
  height: 15px;
  border-radius: 15px;
}

.creativity .filler4 {
  position: relative;
  background-color: #15C1CC;
  height: 15px;
  border-radius: 15px;
  width: 80%;
}

.creativity .number4 {
  position: absolute;
  bottom: 180%;
  left: 92%;
  color: #15C1CC;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.49;
}

.features {
  padding-bottom: 141px;
}

.features__desk {
  max-width: 874px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
  margin-bottom: 74px;
}

.features__cards-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features__card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 263px;
  border: 1px solid rgba(5, 12, 38, 0.05);
  border-radius: 10px;
  padding-top: 207px;
  transition: transform .3s;
}

.features__card-wrapper:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 5px 25px rgba(5, 12, 38, 0.15);
}

.features__card-circle {
  position: absolute;
  top: 24.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.features__card-circle.circle1 {
  background-color: rgba(255, 96, 96, 0.1);
}

.features__card-circle.circle2 {
  background-color: rgba(243, 83, 170, 0.1);
}

.features__card-circle.circle3 {
  background-color: rgba(197, 72, 255, 0.1);
}

.features__card-circle.circle4 {
  background-color: rgba(79, 158, 252, 0.1);
}

.features__card-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features__card-title {
  text-align: center;
  margin-bottom: 16px;
  text-transform: none;
}

.features__card-desc {
  margin-bottom: 24px;
}

.features__card-btn {
  font-family: Poppins;
  margin-bottom: 26px;
}

.features__card-btn {
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  background-color: #3988FF;
  font-size: 18px;
  line-height: 1.62;
  transition: all 0.2s ease;
  position: relative;
}

.features__card-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #3988FF;
}

.features__card-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(5, 12, 38, 0.2);
  color: #fff;
}

.features__card-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.features__card-btn:active, .features__card-btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(5, 12, 38, 0.2);
  color: #fff;
}

.features__card-btn:visited {
  color: #fff;
}

.features__card-btn {
  padding: 10px 20px;
}

.services .container {
  background-image: url(../images/servicesDots.svg);
  background-position: 1100px -1px;
  background-repeat: no-repeat;
  background-size: auto;
}

.services__title {
  text-align: left;
  max-width: 492px;
}

.services__desc {
  max-width: 604px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: left;
  margin-left: 0;
}

.services__card-wrapper {
  display: flex;
  padding: 40px;
  position: relative;
  max-width: 360px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(../images/servicesWebDev.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.services__card-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(104px);
  transition: all .05s ease;
}

.services__card-wrapper:hover::before {
  background-color: transparent;
  backdrop-filter: unset;
}

.services__inner-card-wrapper {
  width: 280px;
  background-color: #F3F3F3;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  margin: auto;
  height: 333px;
}
