* {
    box-sizing: border-box;
}

html, body {
    overflow-y: scroll;
    scrollbar-width: none;
}
  
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #AAA;
}

.clearfix::after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding: 0 50px;
}

/* ________ HEADER SECTION ________ */

.header {
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 48px;
    font-size: 12px;
}

/* --- Contact Section --- */

.contact__block {
    padding: 4px 32px 3px;
    background-color: #F4F4F4;
    line-height: 2.75;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.9; 
}

.contact__container {
    max-width: 1373px;
    margin: 0 auto;    
}

.contact__wrap {
    display: inline-block;
    float: right;
}

.contact__link {
    margin-right: 16px;
}

.contact__link:first-child {
    margin-right: 26px;
}

.contact__link:nth-child(2) {
    margin-right: 1px;
}

.contact__select {
    text-transform: inherit;
    color: inherit;
    font-size: inherit;
    border: 1px solid transparent;
    background-color: transparent;
    width: 40px;
    cursor:pointer;
    outline: none;
}

/* --- Room Section --- */

.room__block {
    padding: 25px 31px 24px;
}

.room__container {
    max-width: 1378px;
    margin: 0 auto;
}

.room__logo-wrap {
    padding-left: 89px;
    line-height: 0;
    float: left;
}

.room__logo-img {
    max-width: 50px;
    max-height: 50px;
}

.room__nav {
    max-width: 974px;
    width: 100%;
    font-size: 0;
    float: right;
}

.room__select {
    float: left;
    padding-top: 18px;
}

.room__showrooms {
    float: right;
    padding-top: 12px;
}

.room__select,
.room__showrooms,
.room__select-words,
.room__showrooms-list  {
    display: inline-block;
    font-size: 0;
}

.room__select-words,
.room__showrooms-list  {
    vertical-align: middle;
}

.room__select-words {
    margin-right: 105px;
}

.room__select-words:nth-child(2) {
    margin-right: 124px;
}

.room__select-link,
.room__showrooms-link {
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 2px;
}

.room__showrooms-text {
    margin-left: 16px;
    padding-top: 2px;
}

.room__showrooms-list {
    margin-left: 49px;
}

.room__showrooms-img,
.room__showrooms-text {
    display: inline-block;
    vertical-align: middle;
}

/* ________ MAIN SECTION ________ */

/* --- Prime Picture Section --- */

.primepicture__margin {
    margin-bottom: 80px;
}

.primepicture {
    padding: 0 6px;
}

.primepicture__banner {
    max-width: 1327px;
    width: 100%;
    height: 746px;
    margin: 0 auto;
    line-height: 0;
    background-color: #798070;
    background-image: url(../images/primepicture.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --- Design inspires Section --- */

.designinsp__margin {
    margin-bottom: 208px;
}

.designinsp__container {
    padding: 0 70px;
}

.designinsp__info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 85px 0 55px;
    line-height: 0;
}

.designinsp__title {
    max-width: 355px;
    font-size: 48px;
    line-height: 1.21;
    color: #1A1A1A;
    float: left;
    padding-top: 2px;
}

.designinsp__descr {
    max-width: 569px;
    font-size: 24px;
    line-height: 1.67;
    float: right;
    padding-top: 13px;
}

/* --- 4 rooms Section --- */

.fourrooms__margin {
    margin-bottom: 212px;
}

.fourrooms__container {
    padding: 0 70px;
}

.fourrooms__pictures-ltr {
    max-width: 1200px;
    margin: 0 auto;
}

.fourrooms__picture-n-info {
    display: inline-block;
    padding-bottom: 32px;
}

.fourrooms__picture-n-info:nth-child(odd) {
    margin-right: 20px;
}

.fourrooms__img {
    max-width: 588px;
    width: 100%;
    margin-bottom: 6px;
}

.fourrooms__info {
    font-size: 24px;
    line-height: 28px;
    color: #1A1A1A;
}

/* --- Brands Section --- */

.brands {
    margin-bottom: 190px;
}

/* --- Choose room --- */

.chooseroom__ltrs {
    max-width: 941px;
    margin: 0 auto 125px;
    text-align: center;
}

.chooseroom__title {
    color: #1A1A1A;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 27px;
}

.chooseroom__over {
    color: #4A4A4A;
    font-size: 24px;
    line-height: 1.5;
}

/* --- Brands logos Section --- */

.brands__block {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
}

.brands__item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 161px;
    height: 60px;
    text-align: center;
    margin: 0 15px 49px;
}

/* --- Slider Section --- */

.slider__margin {
    margin-bottom: 83px;
}

.slider__container {
    margin: 0 auto 24px;
    line-height: 0;
    background-color: #aab5b9;
    background-image: url(../images/meetingrmbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.arrowleft {
    margin: 328px 0 330px 104px;
    float: left;
}

.arrowright {
    margin: 328px 104px 330px 0;
    float: right;
}

.dots__container {
    text-align: center;
    line-height: 0;
}

.footerdot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0;
    background-color: #E5E5E5;
    border-radius: 50%;
    display: inline-block;
}

.footerdot:first-child {
    background-color: #46856E;
}

.footerdot:not(:last-child) {
    margin-right: 12px;
}

/* --- Modular Section --- */

.modular__container {
    padding: 0 125px;
    margin-bottom: 213px;
}

.modular__block {
    max-width: 1090px;
    margin: 0 auto;
    line-height: 0;
}

.modular__block:first-child {
    margin-bottom: 43px;
}

.modular__title {
    color: #1A1A1A;
    font-size: 48px;
    line-height: 1.17;
    margin-bottom: 23.5px;
}

.modular__getintch {
    color: #46856E;
    font-size: 14px;
    line-height: 0.86;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    padding-bottom: 12.5px;
}

/* --- Moduls Section --- */

.mods__part {
    max-width: 323px;
    line-height: 0;
    float: left;
    margin-bottom: 25px;
}

.mods__part:not(:last-child) {
    margin-right: 40px;
}

.mods__part:nth-child(2) {
    margin-right: 41px;
}

.mod__wrap-img {
    text-align: center;
    margin-bottom: 26px;
}

.mod__img {
    width: 162px;
    height: 121px;
}

.mod__img-toster {
    margin-top: 16px;
    margin-right: 54px;
}

.mod__img-timer {
    margin-top: 8px;
    margin-right: 49px;
    margin-bottom: 8px;
}

.mod__img-cube {
    margin-right: 1px;
    margin-bottom: 16px;
}

.mod__title {
    color: #1A1A1A;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 18px;
}

.mod__text {
    font-size: 16px;
    line-height: 1.5;
}

.mod__text.mod__text-toster {
    padding-right: 7px;
}

.mod__text.mod__text-timer {
    padding-right: 25px;
}

.mod__text.mod__text-cube {
    padding-right: 14px;
}