* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #000;
}

/* REMOVE BEFORE SUBMITTING!!!! */
body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.box {
    padding: 0 15px;
}

.container {
    max-width: 1206px;
    width: 100%;
    margin: 0 auto;
}

.container-border {
    border-bottom: 1px solid #000;
}

.login-signup,
.signup-link {
    display: inline-block;
    border-radius: 24px;
}

.signup-link {
    color: inherit;
    font-weight: 700;
    line-height: 1.56;
    letter-spacing: 0.25px;
    font-size: 17px;
    padding: 11px 41.5px;
}

.text-hover-shadow {
    text-shadow: 0px 4px 7px rgba(48, 48, 48, 0.42);
}

/* ------------------------ */
/* ---- HEADER SECTION ---- */
/* ------------------------ */

.header {
    padding: 0 24px;
}

.header-container {
    max-width: 1392px;
    margin: 0 auto;
    padding: 8px 0;
    line-height: 0;
}

/* _______ Logo _______ */

.mainlogo,
.navigation {
    float: left;
}

.mainlogo {
    margin: 7px 33px 6px 0;
}

/* _______ Navigation _______ */

.selection,
.login {
    font-size: 0;
}

.selection-item,
.login-login,
.login-link {
    display: inline-block;
}

/* .selection-item {
    margin-right: 18px;
    padding: 10px 15px;
    position: relative;
} */

.selection-item {
    margin-right: 20px;
    padding: 10px 0;
    position: relative;
}

.selection-item:hover .selection-arrow,
.selection-item:focus .selection-arrow,
.login-login:hover,
.login-login:focus,
.inner-item:hover,
.inner-item:focus {
    transition: all 0.2s ease;
}

.selection-item:hover .selection-arrow,
.selection-item:focus .selection-arrow {
    /* margin-bottom: 2px; */
    top: 41%;
}

/* .selection-link {
    color: inherit;
    font-size: 17px;
    line-height: 1.56;
    letter-spacing: 0.25px;
} */

.selection-link {
    color: inherit;
    font-size: 17px;
    line-height: 1.56;
    letter-spacing: 0.25px;
    padding: 10px 15px;
    padding-right: 37px;
}

.link-font {
    font-size: 18px;
}

/* .selection-arrow {
    margin-bottom: 6px;
    margin-left: 7px;
}

.second-arrow {
    margin-left: 8px;
}

.third-arrow {
    margin-left: 11px;
}

.support-margin {
    margin-right: 21px;
} */

.selection-arrow {
    position: absolute;
    top: 33%;
    left: 80%;
}

.second-arrow {
    left: 74%;
}

.third-arrow {
    left: 85%;
}

.support-margin {
    margin-right: -1px;
}

/* _______ Inner selection _______ */

.selection-item:hover .inner-selection,
.selection-item:focus .inner-selection {
    visibility: visible;
    opacity: 1;
}

.inner-selection {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    top: 100%;
    left: 0%;
    width: 100%;
    min-width: 175px;
    z-index: 1;
}

.selection-item:hover,
.selection-item:focus,
.selection-link:hover,
.selection-link:focus,
.inner-item:hover,
.inner-item:focus,
.inner-link:hover,
.inner-link:focus,
.login-login:hover,
.login-login:focus,
.login-link:hover,
.login-link:focus,
.login-signup {
    background-color: #00c805;
    transition: all 0.2s ease;
}

.inner-link {
    color: inherit;
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: 0.25px;
    padding: 15px 17px;
    display: block;
    vertical-align: middle;
}

/* _______ Login _______ */

.login {
    float: right;
}

.login-login,
.login-link {
    border-radius: 24px;
}

.login-login,
.login-link {
    background-color: transparent;
}

.login-link {
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.25px;
}

.login-link {
    padding: 10px 28.5px;
}

/* -------------------------------- */
/* ---- INVESTING FOR EVERYONE ---- */
/* -------------------------------- */

.investing {
    background-color: #c3f53c;
}

.investing-background {
    background-image: url(../images/investingBanner.png);
    background-position: 100% 60%;
    background-repeat: no-repeat;
    background-size: initial;
}

.investing-wrap {
    max-width: 492px;
    width: 100%;
    padding: 94px 0 108px 0;
    font-weight: 700;
}

.investing-title-wrap {
    max-width: 300px;
    margin-bottom: 31px;
}

.investing-title {
    font-size: 46px;
    line-height: 1.31;
    letter-spacing: 1.75px;
}

.investing-text-wrap {
    max-width: 486px;
    margin-bottom: 39px;
}

.investing-text {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.24px;
}

.investing-btn-wrap {
    margin-bottom: 41px;
}

.investing-link {
    background-color: #000;
    color: #fff;
}

.investing-desc-wrap {
    max-width: 380px;
}

.investing-desc {
    color: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.25px;
}

.investing-desc::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(../images/infoIcon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
    margin-right: 7px;
}

.investing-desc:hover,
.investing-desc:focus {
    text-shadow: 0px 4px 7px rgba(48, 48, 48, 0.42);
}

.investing-desc:hover::before,
.investing-desc:focus::before {
    margin-right: 10px;
    transition: all 0.2s ease;
}

/* _______ Schedule _______ */

.schedule-container {
    max-width: 385px;
    width: 100%;
    padding: 33px 0 31px;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.25px;
}

.shedule-link {
    color: inherit;
    font-weight: 500;
    text-decoration: underline;
}

/* -------------------------------- */
/* ---- WE ARE ALL INVESTORS ---- */
/* -------------------------------- */

/* ------ With img and float -------*/

/* .investors {
    padding: 0 13px;
    line-height: 0;
}

.investors-container {
    max-width: 1414px;
}

.investors-image {
    height: 453px;
    float: left;
    margin-right: 11px;
}

.investors-wrap {
    max-width: 500px;
    width: 100%;
    padding-top: 166px;
    padding-bottom: 173px;
    display: inline-block;
}

.investors-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.34;
    letter-spacing: 1.75px;
    margin-bottom: 26px;
}

.investors-link {
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.25px;
}

.investors-link::after {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(../images/arrowTextRight.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
    margin-left: 1px;
} */

/* ------ With image and position -------*/

/* .investors {
    padding: 0 13px;
    line-height: 0;
}

.investors-container {
    max-width: 1414px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.investors-image {
    height: 453px;
    margin-right: 11px;
}

.investors-wrap {
    max-width: 500px;
    width: 100%;
    padding-top: 166px;
    padding-bottom: 173px;
    display: inline-block;
    position: absolute;
}

.investors-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.34;
    letter-spacing: 1.75px;
    margin-bottom: 26px;
}

.investors-link {
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.25px;
}

.investors-link::after {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(../images/arrowTextRight.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
    margin-left: 1px;
} */

/* ------ With background and position -------*/

.investors {
    padding: 0 13px;
    line-height: 0;
}

.investors-container {
    max-width: 1414px;
    width: 100%;
    margin: 0 auto;
    height: 453px;
    position: relative;
    background-image: url(../images/cafe.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: initial;
}

.investors-wrap {
    max-width: 500px;
    width: 100%;
    padding-top: 166px;
    padding-bottom: 173px;
    display: inline-block;
    position: absolute;
    right: 96px;
}

.investors-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.34;
    letter-spacing: 1.75px;
    margin-bottom: 26px;
}

.investors-link {
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.25px;
}

.investors-link::after {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(../images/arrowTextRight.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
    margin-left: 1px;
}

.investors-link:hover::after {
    margin-left: 5px;
    transition: all 0.2s ease;
}

/* --------------------------------------- */
/* ---- Introducing Fractional Shares ---- */
/* --------------------------------------- */

.introducing {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    background-image: url(../images/figures.png);
    background-position: right;
    background-size: initial;
    background-repeat: no-repeat;
}

.introducing-container {
    padding-top: 48px;
    padding-bottom: 106px;
}

.introducing-title {
    font-weight: 500;
    font-size: 31px;
    line-height: 1.3;
    letter-spacing: 0.32px;
    color: inherit;
    margin-bottom: 17px;
    text-transform: capitalize;
}

.introducing-subtitle {
    font-size: 17px;
    line-height: 1.65;
    letter-spacing: 0.25px;
    color: #6f787e;
    margin-bottom: 48px;
}

.introducing-columns-wrapper {
    margin-bottom: 64px;
}

.introducing-column-wrap {
    max-width: 288px;
    width: 100%;
    float: left;
    padding-right: 38px;
    margin-right: 18px;
}

.introducing-column-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.25px;
    color: inherit;
    margin-bottom: 10px;
}

.introducing-column-text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.25px;
}

.introducing-desc-color {
    color: #6f787e;
    filter: invert(50%) sepia(3%) saturate(982%) hue-rotate(161deg) brightness(91%) contrast(86%);
}

/* ----------------------------------- */
/* ---- Learn As You Grow section ---- */
/* ----------------------------------- */

.learn {
    background-color: #000;
}

.learn-padding {
    padding-top: 90px;
    padding-bottom: 88px;
}

.learn-nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 130px;
    margin-left: 87px;
    margin-right: 71px;
}

.learn-item {
    text-align: right;
}

.learn-button {
    background-color: transparent;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.57;
    letter-spacing: 0.24px;
    color: #545d61;
    padding: 0;
    margin-bottom: 20px;
    outline: none;
    cursor: pointer;
}

.learn-button:hover,
.learn-button:focus {
    color: #fff;
}

.learn-button-background {
    background-position: right;
    background-repeat: no-repeat;
    background-size: initial;
    height: 28px;
    width: 28px;
}

.background-arrowup {
    background-image: url(../images/arrowUpButton.svg);
    margin-bottom: 16px;
}

.background-arrowdown {
    background-image: url(../images/arrowDownButton.svg);
    margin-bottom: 0;
}

.background-arrowup:hover,
.background-arrowup:focus,
.background-arrowdown:hover,
.background-arrowdown:focus {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(260deg)
        brightness(107%) contrast(101%);
}

.learn-wrap {
    display: inline-block;
    max-width: 446px;
    width: 100%;
    vertical-align: top;
    margin-top: 116px;
    margin-left: 90px;
}

.learn-title {
    font-size: 45px;
    line-height: 1.34;
    letter-spacing: 1.75px;
    color: #ffffff;
    margin-bottom: 20px;
}

.learn-text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.25px;
    color: #ffffff;
}

/* ------------------------------ */
/* ---- OUR PRODUCTS SECTION ---- */
/* ------------------------------ */

.products {
    background-color: #F0EBE6;
    height: 771px;
}

.products-padding {
    padding-top: 83px;
    padding-bottom: 60px;
    position: relative;
}

.products-title {
    font-size: 31px;
    line-height: 1.30;
    letter-spacing: 0.32px;
    margin-bottom: 25px;
}

.products-nav {
    margin-bottom: 73px;
    font-size: 0;
    z-index: 2;
    position: relative;
}

.products-nav-item {
    display: inline-block;
    font-size: 23px;
    line-height: 36px;
    letter-spacing: 0.24px;
    color: #6F787E;
}

.products-nav-item:nth-child(2) {
    font-size: 24px;
}

.products-nav-item:nth-child(4) {
    font-size: 22px;
}

.products-nav-item:nth-child(5) {
    font-size: 24px;
}

.products-nav-item:not(:last-child) {
    padding-right: 16px;
}

.products-nav-item:first-child {
    padding-right: 17px;
}

.products-nav-item:not(:first-child) {
    padding-left: 16px;
}

.products-nav-item:last-child {
    padding-left: 14px;
}

.products-nav-item:last-child {
    border-left: 1px solid #000;
}

.products-nav-item:hover .products-nav-link {
    color: #000;
}

.products-nav-item:hover:last-child .products-nav-link {
    color: #FF90AF;
}

.products-nav-link {
    color:inherit;
}

.products-text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.25px;
    max-width: 395px;
    position: absolute;
}

.products-learn-link {
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    background-color: #000;
    border-radius: 24px;
    padding: 0 37px;
    position: absolute;
    bottom: -241px;
}

.products-main-img {
    position: absolute;
    right: 0;
    top: 84px;
    z-index: 1;
}

.products-bottom-links-wrap {
    position: absolute;
    /* bottom: -123%; */
    bottom: -392px;
    width: 100%;
}

.products-cash-link {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.1px;
    color: inherit;
    float: right;
    margin-right: 24px;
    padding-top: 1px;
}

.products-cash-link:hover {
    text-decoration: underline;
}

.products-desc-style {
    float: left;
    
}

.products-desc-link {
    font-size: 17px;
}