* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #000;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.box {
    padding: 0 15px;
}

.container {
    max-width: 1206px;
    width: 100%;
    margin: 0 auto;
}

/* ------------------------ */
/* ---- HEADER SECTION ---- */
/* ------------------------ */

.header {
    padding: 0 24px;
}

.header-container {
    max-width: 1392px;
    margin: 0 auto;
    padding: 8px 0;
    line-height: 0;
}

/* _______ Logo _______ */

.mainlogo,
.navigation {
    float: left;
}

.mainlogo {
    margin: 7px 48px 6px 0;
}

/* _______ Navigation _______ */

.navigation {
    padding: 10px 0;
}

.selection,
.login {
    font-size: 0;
}

.selection {
    position: relative;
}

.selection-item,
.login-login,
.login-signup,
.login-link,
.signup-link {
    display: inline-block;
}

.selection-item {
    margin-right: 48px;
}

.selection-item:hover .selection-arrow,
.login-login:hover,
.inner-item:hover {
    transition: all 0.2s ease;
}

.selection-item:hover .selection-arrow {
    margin-bottom: 2px;
}

.selection-link {
    color: inherit;
    font-size: 17px;
    line-height: 1.56;
    letter-spacing: 0.25px;
}

.link-font {
    font-size: 18px;
}

.selection-arrow {
    margin-bottom: 6px;
    margin-left: 7px;
}

.second-arrow {
    margin-left: 8px;
}

.third-arrow {
    margin-left: 11px;
}

.support-margin {
    margin-right: 51px;
}

/* _______ Inner selection _______ */

.selection-item:hover .inner-selection {
    visibility: visible;
}

.inner-selection {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    top: 100%;
    left: -3%;
    width: 100%;
    max-width: 175px;
    z-index: 1;
}

.inner-item:hover,
.login-login:hover,
.login-signup {
    background-color: #00c805;
}

.inner-link {
    color: inherit;
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: 0.25px;
    padding: 15px 17px;
    display: block;
    vertical-align: middle;
}

.inner-select-pos-learn {
    left: 24%;
}

.inner-select-pos-who_we_are {
    left: 67%;
}

/* _______ Login _______ */

.login {
    float: right;
}

.login-login,
.login-link,
.login-signup,
.signup-link {
    border-radius: 24px;
}

.login-login,
.login-link {
    background-color: transparent;
}

.login-link,
.signup-link {
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.25px;
}

.login-link {
    padding: 10px 28.5px;
}

.signup-link {
    font-size: 17px;
    padding: 11px 41.5px;
}

/* -------------------------------- */
/* ---- INVESTING FOR EVERYONE ---- */
/* -------------------------------- */
