* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #000;
}

/* REMOVE BEFORE SUBMITTING!!!! */
body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.box {
    padding: 0 15px;
}

.container {
    max-width: 1206px;
    width: 100%;
    margin: 0 auto;
}

/* ------------------------ */
/* ---- HEADER SECTION ---- */
/* ------------------------ */

.header {
    padding: 0 24px;
}

.header-container {
    max-width: 1392px;
    margin: 0 auto;
    padding: 8px 0;
    line-height: 0;
}

/* _______ Logo _______ */

.mainlogo,
.navigation {
    float: left;
}

.mainlogo {
    margin: 7px 33px 6px 0;
}

/* _______ Navigation _______ */

.selection,
.login {
    font-size: 0;
}

.selection-item,
.login-login,
.login-signup,
.login-link,
.signup-link {
    display: inline-block;
}

.selection-item {
    margin-right: 18px;
    padding: 10px 15px;
    position: relative;
}

.selection-item:hover .selection-arrow,
.login-login:hover,
.inner-item:hover {
    transition: all 0.2s ease;
}

.selection-item:hover .selection-arrow {
    margin-bottom: 2px;
}

.selection-link {
    color: inherit;
    font-size: 17px;
    line-height: 1.56;
    letter-spacing: 0.25px;
}

.link-font {
    font-size: 18px;
}

.selection-arrow {
    margin-bottom: 6px;
    margin-left: 7px;
}

.second-arrow {
    margin-left: 8px;
}

.third-arrow {
    margin-left: 11px;
}

.support-margin {
    margin-right: 21px;
}

/* _______ Inner selection _______ */

.selection-item:hover .inner-selection {
    visibility: visible;
    opacity: 1;
}

.inner-selection {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    top: 100%;
    left: 0%;
    width: 100%;
    min-width: 175px;
    z-index: 1;
}

.selection-item:hover,
.inner-item:hover,
.login-login:hover,
.login-signup {
    background-color: #00c805;
}

.inner-link {
    color: inherit;
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: 0.25px;
    padding: 15px 17px;
    display: block;
    vertical-align: middle;
}

/* _______ Login _______ */

.login {
    float: right;
}

.login-login,
.login-link,
.login-signup,
.signup-link {
    border-radius: 24px;
}

.login-login,
.login-link {
    background-color: transparent;
}

.login-link,
.signup-link {
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.25px;
}

.login-link {
    padding: 10px 28.5px;
}

.signup-link {
    font-size: 17px;
    padding: 11px 41.5px;
}

/* -------------------------------- */
/* ---- INVESTING FOR EVERYONE ---- */
/* -------------------------------- */

.investing {
    background-color: #c3f53c;
    background-image: url(../images/investingBanner.png);
    background-position: 84.3% 59%;
    background-repeat: no-repeat;
    background-size: initial;
    border-bottom: 1px solid #000;
}

.investing-wrap {
    max-width: 492px;
    width: 100%;
    padding: 94px 0 109px 0;
    font-weight: 700;
}

.investing-title-wrap {
    max-width: 300px;
    margin-bottom: 31px;
}

.investing-title {
    font-size: 46px;
    line-height: 1.31;
    letter-spacing: 1.75px;
}

.investing-text-wrap {
    max-width: 486px;
    margin-bottom: 39px;
}

.investing-text {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.24px;
}

.investing-btn-wrap {
    margin-bottom: 41px;
}

.investing-link {
    background-color: #000;
    color: #fff;
}

.investing-desc-wrap {
    max-width: 365px;
}

.investing-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.25px;
}

.investing-desc::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(../images/infoIcon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
    margin-right: 7px;
}

/* _______ Schedule _______ */

.schedule {
    border-bottom: 1px solid #000;
}

.schedule-container {
    max-width: 385px;
    width: 100%;
    padding: 34px 0 32px;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.25px;
}