.features {
    background-color: $middle-white;

    &__container {
        padding-top: 63px;
        padding-bottom: 124px;
    }
    
    &__title {
        @extend %fonttitle;
        text-align: center;
        margin-bottom: 75px;
        text-transform: capitalize;
    }

    &__cards-wrap {
        @extend %flexRowWrap;
        justify-content: space-between;
    }

    &__card {
        @extend %flexWrapColCntr;
        max-width: 350px;

        &-background {
            width: 350px;
            height: 250px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 8px;
            background-color: $middle-grey;
        }

        .background1 {
            background-image: url(../images/moneyInHands.jpg);
        }
        
        .background2 {
            background-image: url(../images/girlWithWatch.jpg);
        }
        
        .background3 {
            background-image: url(../images/passage.jpg);
        }

        &-wraper {
            @extend %flexWrapColCntr;
            align-content: center;
            max-width: 293px;
            width: 100%;
            background: $white;
            box-shadow: 0px 5px 30px rgba($black, 0.1);
            border-radius: 8px;
            padding-top: 33px;
            padding-bottom: 24px;
            margin-top: -93px;
            // position: relative;
            // bottom: 93px;
        }

        &-title,
        &-text {
            max-width: 229px;
        }

        &-title {
            @extend %cardtitle;
            margin-bottom: 17px;
        }

        &-text,
        &-link {
            @extend %font1215;
        }

        &-text {
            color: $middle-black;
            margin-bottom: 26px;
        }

        &-link {
            font-weight: bold;
            color: $red;
            transition: all 0.2s ease;
            text-transform: capitalize;

            &:hover,
            :focus {
                color: $light-red;
                text-decoration: underline;
            }
        }
    }
}