body {
    background-color: #f5f5dc;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 15px;
}

.menu {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.selection {
    background-color: white;
    text-align: center;
    position: relative;
    font-size: 0;
}

.selection-item {
    display: inline-block;
    padding: 20px 0;
    font-size: 16px;
}

.selection-item:hover,
.selection-item:active,
.selection-link:hover,
.selection-link:active {
    background-color: #383838;
}

.selection-item:hover .selection-link {
    color: #E0E0E0;
}

.selection-link {
    padding: 20px 40px;
    color: 	#383838;
    transition: all 0.2s ease;
}

.selection-home:hover .inner-selection.home {
    visibility: visible;
}

.selection-about:hover .inner-selection.about {
    visibility: visible;
}

.selection-portfolio:hover .inner-selection.portfolio {
    visibility: visible;
}

.inner-selection {
    visibility: hidden;
    position: absolute;
    top:100%;
    background-color: #383838;
    overflow: hidden;
    max-width: 210px;
    width: 100%;
    z-index: 2;
}

.inner-item {
    text-align: left;
}

.inner-item:hover,
.inner-item:active {
    background-color:#E0E0E0;
    color: #3D3D3D;
    cursor: pointer;
}

.inner-item:hover .inner-link,
.inner-item:active .inner-link {
    color: #3D3D3D;
}

.inner-link {
    display: block;
    vertical-align: middle;
    padding: 20px 40px;
    color: #E0E0E0;
}

.text  {
    background-color: #F08B59;
    height: 20vw;
    width: 100%;
}