.contact {
    padding-top: 117px;
    padding-bottom: 123px;

    .container {
        @extend %flexRowWrap;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.contact-desc {
    max-width: 434px;
    margin-left: 11px;
    margin-right: 125px;

    &__title {
        @extend %fonttitle;
        margin-bottom: 53px;
        text-transform: capitalize;
    }

    &__text {
        @extend %fontsubttl;
        text-align: justify;
    }
}

.form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.19;
    color: rgba($light-blue, 0.5);
    font-family: "Lato";
    font-weight: normal;
    // width: 540px;

    &__inputs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__input,
    &__input--tel,
    &__select {
        padding: 20px 0 19px 30px;
        @extend %formBorder;
        @extend %fontinherit;
    }

    &__input {
        width: 100%;

        &:first-child {
            margin-right: 30px;
        }

        &--tel {
            margin-bottom: 24px;
        }

        &::placeholder,
        &--tel::placeholder {
            @extend %fontinherit;
        }
    }

    &__select-wrap {
        position: relative;
    }

    &__select {
        width: 100%;
        margin-bottom: 27px;
        appearance: none;
        cursor: pointer;
    }

    &__select-arrow {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 26.5%;
        right: 4.8%;
    }

    &__button {
        @extend %font14;
        text-transform: uppercase;
        font-family: "Lato";
        background: $red;
        border: 1.5px solid $red;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 15.5px 32.5px 14.5px 32.5px;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            background-color: $light-grey;
            color: $red;
        }
    }
}
