.focused {
    background-color: $red;
    padding-top: 94px;
    padding-bottom: 95px;

    @media screen and (max-width: 1007px) {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .container {
        @extend %flexRowWrapCenter;
        justify-content: flex-start;

        @media screen and (max-width: 1078px) {
            justify-content: space-between;
        }

        @media screen and (max-width: 1007px) {
            justify-content: space-evenly;
        }
    }
}

.save-money {
    max-width: 445px;
    margin-right: 81px;
    margin-top: 12px;

    @media screen and (max-width: 1078px) {
        margin-right: 10px;
    }

    @media screen and (max-width: 1007px) {
        margin-bottom: 30px;
        margin-right: 0;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__title,
    &__desc {
        color: $white;
    }

    &__title {
        @extend %fonttitle;
        margin-bottom: 45px;

        @media screen and (max-width: 576px) {
            font-size: clamp(32px, 10vw, 36px);
        }
    }

    &__desc {
        @extend %fontsubttl;
        text-align: justify;
        margin-bottom: 44px;

        @media screen and (max-width: 576px) {
            font-size: clamp(12px, 3vw, 14px);
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        max-width: 134px;
        width: 100%;
        margin-left: -2px;
    }

    &__link {
        @extend %flexRowCenter;
        font-size: 0;
        line-height: 0;

        &:hover .focused__text-icon,
        &:focus .focused__text-icon {
            filter: brightness(95%);
        }
    }
}

.cafe-slider {
    @media screen and (max-width: 576px) {
        width: 100%;
    }
}