.footer {
    background-color: $middle-white;

    .container {
        padding-top: 85px;
        padding-bottom: 85px;
    }

    .top-part {
        @extend %flexRowWrap;
        margin-bottom: 106px;
    }
}

.footer-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 254px;
    width: 100%;

    &:not(:last-child) {
        margin-right: 30px;
    }

    &:first-child {
        margin-left: 1px;
    }

    &:nth-child(3) {
        margin-right: 34px;
    }

    &:last-child {
        max-width: 220px;
    }

    &__contact:last-of-type {
        margin-bottom: 19px;
    }

    &__title {
        @extend %cardtitle;
        text-align: left;
        margin-bottom: 34px;

        &--3rd {
            margin-left: 0.5px;
        }

        &--services {
            margin-bottom: 28px;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 1.5;
        color: $middle-black;
    }

    &__social {
        @extend %flexRowWrap;
        justify-content: space-between;
        max-width: 66px;

        &--facebook:hover {
            @extend %facebookColor;
        }

        &--linkedin:hover {
            @extend %linkedinColor;
        }

        &--twitter:hover {
            @extend %twitterColor;
        }
    }

    &__contact {
        @extend %footerFont;
        margin-bottom: 11px;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    &__list-item {
        font-size: 12px;
        line-height: 1.59;
        color: $black;
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        text-transform: capitalize;
    }

    &__list-link {
        color: inherit;
        text-transform: capitalize;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.copyright {
    @extend %footerFont;
    margin-left: -4px;

    &__link {
        color: inherit;
        text-transform: capitalize;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.visa-mastercard-img {
    width: 216px;
    margin-left: 6px;
    margin-top: -1px;
}
