.footer {
    background-color: $middle-white;

    .container {
        padding-top: 85px;
        padding-bottom: 85px;

        @media screen and (max-width: 992px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    .top-part {
        @extend %flexRowWrap;
        margin-bottom: 106px;

        @media screen and (max-width: 992px) {
            justify-content: space-evenly;
            margin-bottom: 30px;
        }
    }
}

.footer-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 254px;

    @media screen and (max-width: 1002px) {
        width: clamp(222px, 24vw, 254px);
    }

    @media screen and (max-width: 992px) {
        align-content: center;
        margin-bottom: 30px;
    }

    &:not(:last-child) {
        margin-right: 30px;
    }

    &:first-child {
        margin-left: 1px;
    }

    &:nth-child(3) {
        margin-right: 34px;
    }

    &:last-child {
        max-width: 220px;
    }

    @media screen and (max-width: 1097px) {
        &:not(:last-child) {
            margin-right: 0;
        }
    
        &:first-child {
            margin-left: 0;
        }
    
        &:nth-child(3) {
            margin-right: 0;
        }
    }

    &__contact:last-of-type {
        margin-bottom: 19px;
    }

    &__title {
        @extend %cardtitle;
        text-align: left;
        margin-bottom: 34px;

        &--3rd {
            margin-left: 0.5px;
        }

        &--services {
            margin-bottom: 28px;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 1.5;
        color: $middle-black;
    }

    &__social {
        @extend %flexRowWrap;
        justify-content: space-between;
        max-width: 66px;

        &--facebook:hover {
            @extend %facebookColor;
        }

        &--linkedin:hover {
            @extend %linkedinColor;
        }

        &--twitter:hover {
            @extend %twitterColor;
        }
    }

    &__contact {
        @extend %footerFont;
        margin-bottom: 11px;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    &__list-item {
        font-size: 12px;
        line-height: 1.59;
        color: $black;
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        text-transform: capitalize;
    }

    &__list-link {
        color: inherit;
        text-transform: capitalize;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.copyright {
    @extend %footerFont;
    margin-left: -4px;

    @media screen and (max-width: 1097px) {
        margin-left: 0;
        text-align: center;
    }

    &__link {
        color: inherit;
        text-transform: capitalize;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.visa-mastercard-img {
    max-width: 216px;
    margin-left: 6px;
    margin-top: -1px;
}


@media screen and (max-width: 906px) {
    .footer-card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 254px;
        margin: 0;
        margin-bottom: 25px;
        align-items: center;

        &__title {
            text-align: center;
            margin-bottom: 15px;
            font-size: 23px;

            &--3rd {
                margin-left: 0;
            }
        }

        &__text,
        &__list,
        &__list-link,
        &__contact {
            text-align: center;
            font-size: 15px;
        }

        &__list-item,
        &__list-link {
            font-size: 17px;
            margin-bottom: 10px;
        }

        &__social {
            max-width: 85px;

            &--facebook,
            &--linkedin {
                margin-right: 12px;
            }

            &--facebook-img,
            &--linkedin-img,
            &--twitter-img {
                width: 20px;
            }
        }

        .visa-mastercard-img {
            margin: 0;
            max-width: 150px;
            width: 100%;
        }
    }
}