.header {
    background-image: url(../images/topBanner.jpg);
    background-color: $middle-grey;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: linear-gradient(
            90deg,
            $bg-color1 0%,
            $bg-color2 100%
        );
    }

    .container {
        padding-top: 50px;
        padding-bottom: 187px;
    }

    &__navbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 167px;
        position: relative;
        z-index: 2;
    }
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1.45px;
    transition: filter 0.2s ease;

    &:hover,
    &:focus {
        filter: drop-shadow(0px 0px 0.4px $white);
    }

    &__img {
        margin-right: 8.5px;
    }

    &__text {
        font-size: 18px;
        line-height: 1.23;
        color: $middle-black;
        font-weight: 700;
        text-align: center;
        color: $white;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    margin-left: 39px;
    padding-bottom: 3px;

    &__item {
        font-size: 14px;
        line-height: 1.22;
        color: $white;
        text-transform: uppercase;
        padding: 0 10px;
    }

    &__link {
        color: inherit;
        transition: text-shadow 0.2s ease;

        &:hover,
        &:focus {
            text-shadow: 0 0 0.4px $white, 0 0 0.4px $white;
        }
    }
}

.language-and-login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 3px;
}

.lang-selector {
    display: flex;
    margin-right: 28px;
    padding-top: 3px;

    &__label {
        margin-right: 11px;
        padding-bottom: 2px;
        position: relative;
    }

    &__drop {
        font-size: 14px;
        line-height: 1.22;
        color: $white;
        font-family: inherit;
        text-transform: uppercase;
        width: 46px;
        background-color: transparent;
        border: none;
        padding-bottom: 4px;
        appearance: none;
        cursor: pointer;
        outline: none;
        transition: all 0.2s ease;
    }

    &__item {
        background-color: transparent;
    }

    &__arrow {
        margin-left: -15px;
        padding-bottom: 2px;
        transition: filter 0.2s ease;
    }

    &__drop,
    &__arrow {
        &:hover,
        &:focus {
            filter: drop-shadow(0px 0px 0.4px $white);
        }
    }
}

.toggle {
    opacity: 0;
    visibility: hidden;

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $white;
        height: 60px;
        width: 60px;
        position: fixed;
        top: 20px;
        right: 18px;
        border-radius: 50%;
        z-index: 2;
        box-shadow: 0 1rem 3rem rgba($black, 0.1);
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 56px;
        width: 56px;
        border-radius: 50%;
        position: fixed;
        top: 21px;
        right: 20px;
        background-image: radial-gradient($light-red, $red);
        z-index: 1;
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        width: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__icon {
        position: relative;
        margin-top: 29px;

        &,
        &::before,
        &::after {
            width: 30px;
            height: 2px;
            background-color: $bg-color1;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.2s;
        }

        &::before {
            top: -8px;
        }
        &::after {
            top: 8px;
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    &__button:hover &__icon::before {
        top: -10px;
    }

    &__button:hover &__icon::after {
        top: 10px;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    .navigation {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 47%;
        left: 52%;
        transform: translate(-50%, -50%);

        &__item {
            font-size: 35px;
            line-height: 1.22;
            color: $white;
            text-transform: uppercase;
            margin-bottom: 28px;
        }

        &__link {
            color: inherit;
            transition: text-shadow 0.2s ease;

            &:hover,
            &:focus {
                text-shadow: 0 0 0.4px $white, 0 0 0.4px $white;
            }
        }
    }

    .language-and-login {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        top: 31%;
        left: 65%;
        transform: translate(-50%, -50%);
    }

    .lang-selector {
        display: flex;
        margin-right: 20px;
        padding-top: 3px;

        &__label {
            margin-right: 25px;
            padding-bottom: 2px;
            position: relative;
        }

        &__img {
            width: 150%;
        }

        &__drop,
        &__arrow {
            transition: filter 0.2s ease;
        }

        &__drop {
            font-size: 30px;
            line-height: 1.22;
            color: $white;
            font-family: inherit;
            text-transform: uppercase;
            width: 46px;
            background-color: transparent;
            border: none;
            padding-bottom: 4px;
            appearance: none;
            cursor: pointer;
            outline: none;
        }

        &__item {
            background-color: transparent;
        }

        &__arrow {
            margin-left: 7px;
            width: 19%;
            padding-bottom: 2px;
        }

        &__drop,
        &__arrow {
            &:hover,
            &:focus {
                filter: drop-shadow(0px 0px 0.4px $white);
            }
        }
    }

    .button {
        font-size: 22px;
    }
}

.slogan {
    margin: 0 auto;
    text-align: center;
    max-width: 578px;
    position: relative;
    z-index: 2;

    &__title,
    &__text {
        color: $white;
    }

    &__title {
        font-size: 72px;
        line-height: 1.2;
        letter-spacing: 0.05em;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 39px;
    }

    &__text {
        margin: 0 auto;
        font-size: 24px;
        line-height: 1.5;
        font-weight: 600;
        max-width: 490px;
        margin-bottom: 55px;
    }
}

@media screen and (max-width: 575px) {
    .header {
        .container {
            padding: 25px 10px 216px;
        }

        &__navbar {
            margin-bottom: 142px;
        }
    }

    .logo {
        margin-left: 10px;
        margin-top: 16px;
    }

    .navigation {
        display: none;
    }

    .language-and-login {
        display: none;
    }

    .toggle {
        opacity: 1;
        visibility: visible;
    }

    .slogan {
        z-index: 1;

        &__title {
            font-size: clamp(32px, 10vw, 64px);
            margin-bottom: 28px;
        }

        &__text {
            font-size: clamp(16px, 3vw, 22px);
            max-width: clamp(320px, 80vw, 340px);
            margin-bottom: 53px;
        }
    }
}

@media screen and (min-width: 576px) {
    .logo {
        margin-left: 10px;
        margin-top: -9px;
    }

    .navigation {
        display: none;
    }

    .language-and-login {
        display: none;
    }

    .toggle {
        opacity: 1;
        visibility: visible;

        .language-and-login {
            top: 31%;
            left: 64%;
        }
    }

    .slogan {
        z-index: 1;

        &__title {
            font-size: clamp(64px, 10vw, 72px);
        }

        &__text {
            font-size: 22px;
            max-width: 413px;
            font-size: clamp(22px, 4vw, 24px);
            max-width: clamp(340px, 80vw, 490px);
        }
    }
}

@media screen and (min-width: 768px) {
    .toggle {
        .navigation {
            align-items: center;
            top: 50%;
            left: 50%;
            margin-left: 0;
        }

        .language-and-login {
            top: 35%;
            left: 82%;
        }
    }
}

@media screen and (min-width: 882px) {
    .header {
        .logo {
            margin-left: 0;
            margin-top: 0;
        }

        .navigation {
            display: flex;
            margin-left: 0;
        }

        .language-and-login {
            display: flex;
        }

        .toggle {
            display: none;
        }

        .slogan {
            &__title {
                font-size: 72px;
            }

            &__text {
                font-size: 24px;
                max-width: 490px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .header {
        .navigation {
            margin-left: 39px;
        }
    }
}
