.management {
    line-height: 0;
    font-size: 0;
    padding-top: 94px;
    padding-bottom: 95px;

    @media screen and (max-width: 944px) {
        padding-top: 25px;
        padding-bottom: 70px;
    }

    .container {
        @extend %flexRowWrap;
        justify-content: flex-start;

        @media screen and (max-width: 1035px) {
            justify-content: space-between;
        }

        @media screen and (max-width: 992px) {
            justify-content: space-around;
        }
    }
}

.software-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 445px;
    padding-top: 46px;
    margin-right: 125px;

    @media screen and (max-width: 1035px) {
        margin-right: 35px;
    }

    @media screen and (max-width: 992px) {
        margin-bottom: 30px;
    }

    @media screen and (max-width: 768px) {
        align-items: center;
        margin-right: 0;
    }

    &__title {
        @extend %fonttitle;
        margin-bottom: 45px;

        @media screen and (max-width: 768px) {
            text-align: center;
        }

        @media screen and (max-width: 576px) {
            font-size: clamp(28px, 7vw, 36px);
        }
    }

    &__text {
        @extend %fontsubttl;
        text-align: justify;
        margin-bottom: 19px;

        @media screen and (max-width: 576px) {
            font-size: clamp(12px, 3vw, 14px);
        }
    }

    &__link {
        @extend %fontsubttl;
        transition: all 0.2s ease;
        color: $red;
        text-transform: capitalize;

        @media screen and (max-width: 768px) {
            
        }

        &:focus,
        &:hover {
            color: $light-red;
            text-decoration: underline;
        }
    }
}

.video {
    position: relative;

    &__button,
    &__button::before {
        transition: all 0.2s ease;
    }

    &__button {
        width: 66px;
        height: 66px;
        background-color: $red;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 944px) {
            left: 50%;
        }

        &:hover,
        &:focus {
            background-color: $light-grey;
        }

        &:hover::before,
        &:focus::before {
            border-color: transparent transparent transparent $red;
        }

        &::before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 0 8px 11.9px;
            border-color: transparent transparent transparent $white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-38%, -50%);
        }
    }

    &__image {
        width: auto;
        border-radius: 15px;
        position: relative;

        @media screen and (max-width: 576px) {
            width: 100%;
        }
    }
}